
@{
    ViewBag.Title = "ManageMasterData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManageMasterData</h2>
<div class="row">
    <div class="col-md-8">
      
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <h4>Manage Master Data</h4>
                <hr />
              
                <div class="form-group">
                    <label class="col-md-2 control-label">Master Table Type</label>                  
                    <div class="col-md-10">
                        <select id="ddlMasterTableType" class="Mandatory"></select>
                        <div id="ddlCountry" class="Mandatory"></div>
                    </div>
                  
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Master Data</label>  
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtMasterData" />                      
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Code</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtCode" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Description</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtRemark" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" id="hdnID" />
                        <input type="button" value="Save" class="btn btn-default" onclick="SaveMasterData()" />
                        <input type="button" value="Clear" class="btn btn-default" />
                    </div>
                </div>
                <div class="table-responsive">
                    <div class="demo-container">
                        <div id="gridContainer"></div>
                    </div>

                </div>

            }
      
    </div>
    
</div>
<script type="text/javascript">
    var SystemdropdownMasterData=[];
    $(document).ready(function () {        
        LoadSystemMasterDropdown("ddlMasterTableType", SystemMasterTableEnum.SystemMasterType, "", "");
        CountryBind();
        var tableId = $("#ddlMasterTableType").val();
        if (tableId == "" || tableId == "Select")
        {
            tableId = null;
        }
        GetMasterTableData(tableId);

    });
    function CountryBind() {

        CommonAjaxMethod('/CommonMethods/GetDropDownData', { tableType: SystemMasterTableEnum.SystemMasterType, FixedSearchParam: "" }, false, 'GET',
            function (response) {
                debugger;
                $("#ddlCountry").dxSelectBox({
                    dataSource: response.dataCollection,
                    displayExpr: "Name",
                    valueExpr: "Id",
                    placeholder: "Select",
                    searchEnabled: true,
                    searchExpr: 'Name',
                    searchTimeout: 1000
                });
            }

        );
    }
       


    function SaveMasterData()
    {       

        CommonAjaxMethod('/MasterTable/ManageSysMasterTable/', { SysMasterTable_id: $("#hdnID").val(), SysMasterTabletype_id: $("#ddlDepartment").dxSelectBox('instance').option('value'), Code: $("#txtCode").val(), Name: $("#txtMasterData").val(), Remark: $("#txtRemark").val() }, false, 'POST', function (response)
        {
            GetMasterTableData($("#ddlMasterTableType").val());
        });
    }
  

    function GetMasterTableData(tableId)
    {
        debugger;
        CommonAjaxMethod('/MasterTable/GetSystemMasterTableData/', { tableType: null }, false, 'GET', function (response)
                {

            var reports = response.dataCollection;          
            DataBind(reports);

        });
    }
    function DataBind(response) {
        var configdataGrid = $("#gridContainer").dxDataGrid({
            dataSource: response,
            columnAutoWidth: true,
            allowColumnReordering: true,
            showBorders: true,
            searchPanel: {
                visible: true
            },
            paging: {
                enabled: true,
                pageSize: 10
            },
            filterRow: {
                visible: true
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [5, 10, 20]
            },
            export: {
                enabled: true,
                allowExportSelectedData: false,
                fileName: "NewFileName"
            },
            columns: [{
                dataField: "ID",
                visible: false
            }, {
                    dataField: "SysMastertableName", caption: "Parent Data"

            }, {
                    dataField: "displayName", caption: "Name"

            },
            {
                dataField: "Remark", caption: "CountryName"

            },
               
            {
                caption: "Action",
                alignment: 'center',
                cellTemplate: function (container, options) {
                    $('<a style="margin-right:10px" />').addClass('dx-link')
                        .text('Edit')
                        .on('dxclick', function () {
                            editedRow = options.data;
                            //Calling method
                            EditCity(editedRow);

                        }).appendTo(container);
                    $('<a style="padding-left:10px" />').addClass('dx-link')
                        .text('Delete')
                        .on('dxclick', function () {
                            editedRow = options.data;
                            //Caling method
                            Delete(editedRow);


                        })
                        .appendTo(container);

                }

            }
            ],

        }).dxDataGrid("instance");
    }

   
</script>

