
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pl-0 pr-0 mb-3">
    <div class="row no-gutters banner contactBanner justify-content-center align-items-center">
        <div class="col-11 text-right">
            <h2 class="bold mb-0">Let’s Discuss</h2>
            <h1 class="alex text-yellow semi mr-4">together!</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row flex-row-reverse justify-content-between">
        <div class="col-12 col-lg-4">
            <h2 class="text-sky bold mt-4 mb-3">Contact Info</h2>
            <p class="address mb-5">
                <span>A</span> Mumbai. INDIA<br />
                <span>C</span> +91 8452 811 506<br />
                <span>E</span> info@eatingsmart.in<br />
                <span>T</span> Mon-Sat 10:00 am-6:00pm IST
            </p>
        </div>
        <div class="col-12 col-md-10 col-lg-7 mt-4">
            <h2 class="text-sky bold mb-4">Contact Form</h2>
            <form>
                <div class="form-row">
                    <div class="col-12 col-md-6 form-group">
                        <input type="text" class="form-control border" placeholder="Name">
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <input type="text" class="form-control border" placeholder="Email">
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <input type="text" class="form-control border" placeholder="Phone">
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <input type="text" class="form-control border" placeholder="Subject">
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 form-group">
                        <textarea rows="8" class="form-control border" placeholder="Message"></textarea>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 form-group">
                        <a class="btn btn-reg mb-2 hvr-sweep-to-top">&nbsp; &nbsp; SEND NOW &nbsp; &nbsp; </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br /><br /><br /><br />
<div class="contentBodyBg">
    <img src="@CommonMethods.ServerPath/img/img5.png" class="img-fluid contentBodyBg" />
</div>


