
@{
    ViewBag.Title = "SingUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid border ">
        <div class="row">

            <div id="toastmsg"><p class="yellow">Fill all mandatory feilds (*)..</p></div>

            <div class="col-md-12 border-left p-3 bg-light">
                <h5 class="pb-2 text-center text-uppercase font-weight-bold"> USER MANAGEMENT </h5>

                <div class="mb-3">



                    <div class="pb-2">
                        <h6 class="py-1"><i class="fas fa-user-circle mr-2"></i>User Information</h6>
                        <div class="row bg-white border mx-auto py-2 mb-2">

                            <div class="input-div">
                                <label class="input-header">First Name </label>
                                <input class="input-value" type="text" placeholder="FirstName" id="txtFirstName" maxlength="50" onchange="return IsValidCharacters('txtFirstName', 'Only alpha numeric')">
                            </div>
                            <div class="input-div">
                                <label class="input-header">Last Name </label>
                                <input class="input-value" type="text" placeholder="LastName" id="txtLastName" maxlength="50" onchange="return IsValidCharacters('txtLastName', 'Only alpha numeric')">
                            </div>
                            <div class="input-div">
                                <label class="input-header">Email ID </label>
                                <input class="input-value" type="text" placeholder="EmailID" id="txtEmailID" name="email" maxlength="50" title="EmailID">
                            </div>
                            <div class="input-div">
                                <label class="input-header">Phone Number </label>
                                <input class="input-value" type="text" placeholder="PhoneNumber" id="txtPhoneNumber" OnPaste="return ValidatePasteNumeric(false, this)" onkeypress="return AllowNumbersOnly(false,this,'Numeric only')" maxlength="10" onblur="ClearInvalidText(this)" title="PhoneNumber">
                            </div>
                            <div class="input-div">
                                <label class="input-header">Mobile Number </label>
                                <input class="input-value" type="text" placeholder="MobileNumber" id="txtMobileNumber" OnPaste="return ValidatePasteNumeric(false, this)" onkeypress="return AllowNumbersOnly(false,this,'Numeric only')" maxlength="10" onblur="ClearInvalidText(this)" title="PhoneNumber">
                            </div>
                        </div>
                    </div>

                    <div class="pb-2">
                        <h6 class="py-1"><i class="fas fa-sign-in-alt mr-2"></i>Login Information</h6>
                        <div class="row bg-white border mx-auto py-2 mb-2">
                            <div class="input-div">
                                <label class="input-header"><i class="fas fa-user-tie mr-2"></i>Login ID </label>
                                <input class="input-value" type="text" placeholder="LoginID" id="txtLoginId" maxlength="50" title="LoginId">
                            </div>
                            <div class="input-div">
                                <label class="input-header"><i class="fas fa-user-tie mr-2"></i>Password </label>
                                <input class="input-value" type="Password" placeholder="Password" id="txtPassword" maxlength="12" title="Password">
                            </div>
                            <div class="input-div">
                                <label class="input-header"><i class="fas fa-user-tie mr-2"></i>Confirm Password </label>
                                <input class="input-value" type="Password" placeholder="confirmpassword" id="txtconfirmpassword" maxlength="12" title="ConfirmPassword">
                            </div>
                        </div>
                    </div>




                    <div class="pb-2">
                        <div class="form-group">
                            <div>

                                <button class="mybtndark" type="button" id="UserSubmit"><i class="far fa-save mr-2"></i>Save</button>
                                <button class="mybtndark" type="button" onclick="FormControlValueClear(true);"><i class="far fa-close mr-2"></i>Cancel</button>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

}



<script type="text/javascript">
       // $(document).tooltip();
        //Resource Variable Declaration Start


        //End
</script>

<script src="~/Scripts/DevScript/Transaction/ManageUser.js"></script>

