
@{
    ViewBag.Title = "Coupen Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/DevExtremeBundle")
<div class="bg-yellow">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <ul class="list-inline menu-sec">
                    <li class="list-inline-item"><a href="~/Home/AdminView">Back To Admin View</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid flowerBg">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Add  Coupon</p>
                        <hr class="mt-0 mb-4 bg-dark" />
                        <input type="hidden" id="hdnUserDetailsID" />
                    </div>
                </div>
                <form class="form-data">

                    <div class="form-group row">
                        <label class="col-12 col-sm-5 col-form-label semi">Coupen Name <span class="float-right d-none d-md-block"> : </span></label>
                        <div class="col-12 col-sm-7">
                            <input type="text" class="form-control border mandCo" id="txtCoupen" maxlength="100" placeholder="Enter Coupon Name" />
                            <input type="hidden" id="hdnCoupenId" value="0" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-sm-5 col-form-label semi">Coupon Amount <span class="float-right d-none d-md-block"> : </span></label>
                        <div class="col-12 col-sm-7">
                            <input type="text" class="form-control border mandCo" id="txtAmount" maxlength="100" placeholder="Enter Amount" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-sm-5 col-form-label semi">Coupon Doller Amount <span class="float-right d-none d-md-block"> : </span></label>
                        <div class="col-12 col-sm-7">
                            <input type="text" class="form-control border mandCo" id="txtDollerAmount" maxlength="100" placeholder="Enter Doller Amount" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-sm-5 col-form-label semi">Coupon IsActive <span class="float-right d-none d-md-block"> : </span></label>
                        <div class="col-12 col-sm-7">
                            <select class="custom-select mandotory" id="ddlActive">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-12 col-sm-12 text-right">
                            <a class="btn btn-reg mb-4 hvr-sweep-to-top" id="btnSavePromoCodeCoupen" onclick="SavePromoCodeCoupen()">&nbsp; &nbsp; SUBMIT &nbsp; &nbsp; </a>
                            <a class="btn btn-reg mb-4 hvr-sweep-to-top" id="btnSavePromoCodeCoupen" onclick="ClearPromoCodeCoupen()">&nbsp; &nbsp; Clear &nbsp; &nbsp; </a>
                        </div>
                    </div>


                    <div class="row justify-content-center">
                        <div class="col-12 col-md-12 col-lg-11">
                            <div class="middleContent bg-gray shadow">
                                <div class="row">
                                    <div class="demo-container">
                                        <div id="gridContainer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.5.1.min.js"></script>
<script>
    window.onload = function () {
            
        LoadPromocode();
    };
    function ValidateRequiredField() {

        var isRequired = true;
        var x = document.getElementsByClassName("mandCo");
        var i;
        for (i = 0; i < x.length; i++) {

            if (x[i].value == "") {
                isRequired = false;
            }
        }
        return isRequired;
    }
    function SavePromoCodeCoupen() {
        if (ValidateRequiredField()) {
            var CoupenModeldata =
            {
                CoupenId: $("#hdnCoupenId").val(),
                Coupen: $("#txtCoupen").val(),
                Amount: $("#txtAmount").val(),
                DollerAmount: $("#txtDollerAmount").val(),
                IsActive: $("#ddlActive").val(),
            }
            var tblType = "";            
            var PromoCode =
            {
                TableType: "PromoCodeCoupen",
                CoupenModeldata: CoupenModeldata
            }

            CommonAjaxMethod('Admin/SavePromocode', PromoCode, false, 'POST', function (response) {
                alert('Record save successfully!!!');

                LoadPromocode();
                ClearPromoCodeCoupen();

            });
        }
        else
        {
            alert('Please select valid data!!!');
        }
       

    }
    

    function loadupdatePromoCode(CoupenId) {
        CommonAjaxMethod('Admin/GetPromocodeView', { CoupenId: CoupenId }, false, 'GET', function (response) {
            if (response.dataCollection.length > 0) {
                $("#hdnCoupenId").val(response.dataCollection[0].CoupenId);
                $("#txtCoupen").val(response.dataCollection[0].Coupen);
                $("#txtAmount").val(response.dataCollection[0].Amount);
                $("#txtDollerAmount").val(response.dataCollection[0].DollerAmount);
                $("#ddlActive").val(response.dataCollection[0].IsActive);

            }
        });
    }
    function ClearPromoCodeCoupen() {
        $("#hdnCoupenId").val(0);
        $("#txtCoupen").val("");
        $("#txtAmount").val("");
        $("#txtDollerAmount").val("");
        $("#ddlActive").val(0);


    }

    function LoadPromocode() {
        CommonAjaxMethod('Admin/GetPromocodeView', { CoupenId: "0" }, false, 'GET', function (response) {
                    
            LoadPromocodedata(response.dataCollection);
        });
    }

    function LoadPromocodedata(ctr) {
        $("#gridContainer").dxDataGrid({
            dataSource: ctr,
            allowColumnReordering: true,
            showBorders: true,
            searchPanel: {
                visible: true
            },
            paging: {
                pageSize: 10
            },
            groupPanel: {
                visible: true
            },
            editing: {
                mode: "form",
                allowUpdating: false
            },
            columns: [
              { caption: "Coupon", dataField: "Coupen" },
                 {caption: "INR Amount",dataField:"Amount"},
                 { caption: "$ Amount", dataField: "DollerAmount" },
                  { caption: "Is Active", dataField: "ActiveData" },
              
                //{
                //    caption: "Action Date",

                //    allowEditing: false,
                //    calculateCellValue: function (data) {
                //        return getdate(data.AddedWhen);
                //    }
                //},
                {
                    caption: "Edit Coupon",
                    alignment: 'center',
                    cellTemplate: function (container, options) {
                        $('<a />').addClass('dx-link')
                            .text('Edit')
                            .on('dxclick', function ()
                            {
                                loadupdatePromoCode(options.data.CoupenId);
                              
                            }).appendTo(container);
                    }
                }                

            ]
        });
    }

   

</script>
