
@{
    ViewBag.Title = "Tracker";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-10">
            <div class="middleContent bg-gray shadow">
                <p class="semi mb-2 text-yellow">Payment</p>
                <hr class="mt-0 mb-3 bg-dark">
                <form class="form-data">
                    <div class="row" style="overflow-x:scroll;">
                        Wiegth Tracker

                        <table class="table" id="tblPayment">
                            <thead>
                                <tr bgcolor="#f4a800">
                                    <th class="semi mb-2 text-white">Date </th>
                                    <th class="semi mb-2 text-white">Session </th>
                                    <th class="semi mb-2 text-white"> </th>
                                    <th class="semi mb-2 text-white">Width </th>
                                    <th class="semi mb-2 text-white">Differnce </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="date" class="form-control" placeholder="Enter Date" />
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>Start</td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                </tr>
                                <tr>
                                    <td><input type="date" class="form-control" placeholder="Enter Date" /></td>
                                    <td> Session1 </td>
                                    <td>Mid</td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                </tr>
                                <tr>
                                    <td><input type="date" class="form-control" placeholder="Enter Date" /></td>
                                    <td> </td>
                                    <td>End</td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                </tr>
                                <tr>
                                    <td colspan="5"><hr class="mt-0 mb-2 bg-dark" /></td>
                                  
                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="form-control" placeholder="Enter Date" />
                                    </td>
                                    <td></td>
                                    <td>Start</td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                </tr>
                                <tr>
                                    <td><input type="date" class="form-control" placeholder="Enter Date" /></td>
                                    <td> Session2 </td>
                                    <td>Mid</td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                </tr>
                                <tr>
                                    <td><input type="date" class="form-control" placeholder="Enter Date" /></td>
                                    <td> </td>
                                    <td>End</td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                </tr>
                                <tr>
                                    <td colspan="5"><hr class="mt-0 mb-2 bg-dark" /></td>

                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="form-control" placeholder="Enter Date" />
                                    </td>
                                    <td></td>
                                    <td>Start</td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                </tr>
                                <tr>
                                    <td><input type="date" class="form-control" placeholder="Enter Date" /></td>
                                    <td> Session2 </td>
                                    <td>Mid</td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                </tr>
                                <tr>
                                    <td><input type="date" class="form-control" placeholder="Enter Date" /></td>
                                    <td> </td>
                                    <td>End</td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        Inch Tracker

                        <table class="table" id="tblPayment">
                            <thead>
                                <tr bgcolor="#f4a800">
                                    <th class="semi mb-2 text-white">Date </th>
                                    <th class="semi mb-2 text-white">Session </th>
                                    <th class="semi mb-2 text-white"> </th>
                                    <th class="semi mb-2 text-white">Chest </th>
                                    <th class="semi mb-2 text-white">Weist </th>
                                    <th class="semi mb-2 text-white">Hip </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="date" class="form-control" placeholder="Enter Date" />
                                    </td>
                                    <td>Session1</td>
                                    <td>Start</td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="form-control" placeholder="Enter Date" />
                                    </td>
                                    <td></td>
                                    <td>Start</td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                </tr>
                            
                                <tr>
                                    <td colspan="6"><hr class="mt-0 mb-2 bg-dark" /></td>

                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="form-control" placeholder="Enter Date" />
                                    </td>
                                    <td>Session2</td>
                                    <td>Start</td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="form-control" placeholder="Enter Date" />
                                    </td>
                                    <td> </td>
                                    <td>Start</td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                </tr>
                                <tr>
                                    <td colspan="6"><hr class="mt-0 mb-2 bg-dark" /></td>

                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="form-control" placeholder="Enter Date" />
                                    </td>
                                    <td>Session3</td>
                                    <td>Start</td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="form-control" placeholder="Enter Date" />
                                    </td>
                                    <td></td>
                                    <td>Start</td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                    <td><input type="text" class="form-control" placeholder="Enter Waist" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   
                  
                </form>
            </div>
        </div>
    </div>
</div>

