<!DOCTYPE html>

<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js" lang="en">

<!--<![endif]-->

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="img/favicon.png">



    <title>Home</title>



    <?php include("functions.php"); ?>

    <link href="css/hover-min.css" rel="stylesheet" type="text/css" />

    <link href="css/animate.min.css" rel="stylesheet" type="text/css" />

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />



    <link href="css/style.css" rel="stylesheet" type="text/css" />



</head>

<body>

    <div class="notiBlock">

        <div class="container-fluid">

            <div class="row align-items-center justify-content-center">

                <div class="col text-center text-lg-left">

                    <p class="mb-2 mt-2">We are fully operational and here to help. <span class="semi">Raise money</span> for COVID-19 relief.</p>

                </div>

                <div class="col-auto d-none d-lg-block">

                    <ul class="list-group list-group-horizontal">

                        <li class="list-group-item"><a href="faq.php">FAQ’S</a></li>

                        <li class="list-group-item"><a href="reviews.php">Reviews</a></li>

                        <li class="list-group-item"><a href="contact.php">Contact Us</a></li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-white">

        <a class="navbar-brand" href="index.php"><img src="img/logo.png" class="img-fluid" /></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>



        <div class="collapse navbar-collapse" id="navbarContent">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">

                        Home

                    </a>

                    <div class="dropdown-menu">

                        <a class="dropdown-item" href="index.php">Homepage 1</a>

                        <a class="dropdown-item" href="index2.php">Homepage 2</a>

                        <a class="dropdown-item" href="index3.php">Homepage 3</a>

                        <a class="dropdown-item" href="index4.php">Homepage 4</a>

                    </div>

                </li>

                <li class="nav-item"><a class="nav-link" href="about.php">About Us</a></li>

                <li class="nav-item"><a class="nav-link" href="healthProgram.php">Health Programs</a></li>

                <li class="nav-item"><a class="nav-link" href="healthGuide.php">Health Guide</a></li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">

                        Services

                    </a>

                    <div class="dropdown-menu">

                        <a class="dropdown-item" href="smartBodyToningBuilding.php">Smart Body Toning & Building</a>

                        <a class="dropdown-item" href="smartChildNutrition.php">Smart Child Nutrition</a>

                        <a class="dropdown-item" href="smartChildSpecialProgram.php">Smart Child Special Program</a>

                        <a class="dropdown-item" href="smartEatingOut.php">Smart Eating Out</a>

                        <a class="dropdown-item" href="smartEnhancer.php">Smart Enhancer</a>

                        <a class="dropdown-item" href="smartManagementForDisease.php">Smart Management For Disease</a>

                        <a class="dropdown-item" href="smartPhysologicalWellBeing.php">Smart Physological Well Being</a>

                        <a class="dropdown-item" href="smartWeightGain.php">Smart Weight Gain</a>

                        <a class="dropdown-item" href="smartWeightLoss.php">Smart Weight Loss</a>

                    </div>

                </li>

                <li class="nav-item"><a href="#checkHealthMeter" data-toggle="modal" class="nav-link semi text-white btn bg-sky">Health Calculator</a></li>

            </ul>

        </div>

    </nav>

    <hr /><br />



    <div class="container">

        <div class="row flex-row-reverse justify-content-between">

            <div class="col-12 col-lg-4">

                <h2 class="text-sky bold mb-3">Contact Info</h2>

                <p class="address mb-5">
                    <span>A</span> 358 Beree St, Fresno, Andheri, Mumbai.<br />

                    <span>C</span> 8 (800) 0358 4567, 8 (800) 923 8545<br />

                    <span>E</span> example@example.com<br />

                    <span>T</span> Mon-Fri: 8:00-20:00

                </p>

            </div>

            <div class="col-12 col-md-10 col-lg-7">

                <h2 class="text-sky bold mb-4">Contact Info</h2>

                <form>

                    <div class="form-row">

                        <div class="col-12 col-md-6 form-group">

                            <input type="text" class="form-control border" placeholder="Name">

                        </div>

                        <div class="col-12 col-md-6 form-group">

                            <input type="text" class="form-control border" placeholder="Email">

                        </div>

                        <div class="col-12 col-md-6 form-group">

                            <input type="text" class="form-control border" placeholder="Phone">

                        </div>

                        <div class="col-12 col-md-6 form-group">

                            <input type="text" class="form-control border" placeholder="Subject">

                        </div>

                        <div class="col-12 col-md-6 col-lg-6 form-group">

                            <select class="custom-select" id="inputGroupSelect01">

                                <option selected>Choose...</option>

                                <option value="1">One</option>

                                <option value="2">Two</option>

                                <option value="3">Three</option>

                            </select>

                        </div>

                        <div class="col-12 col-md-6 col-lg-6 form-group">

                            <div class="custom-control custom-radio custom-control-inline">

                                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">

                                <label class="custom-control-label" for="customRadioInline1">Radio 1</label>

                            </div>

                            <div class="custom-control custom-radio custom-control-inline">

                                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">

                                <label class="custom-control-label" for="customRadioInline2">Radio 2</label>

                            </div>

                        </div>

                        <div class="col-12 col-md-6 col-lg-6 form-group">

                            <div class="custom-control custom-checkbox">

                                <input type="checkbox" class="custom-control-input" id="customCheck1">

                                <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>

                            </div>

                        </div>

                        <div class="col-12 col-md-12 col-lg-12 form-group">

                            <textarea rows="8" class="form-control border" placeholder="Name"></textarea>

                        </div>



                        <div class="col-12 col-md-12 col-lg-12 form-group">

                            <a class="btn btn-reg mb-2 hvr-sweep-to-top">&nbsp; &nbsp; SEND NOW &nbsp; &nbsp; </a>

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

    <br /><br /><br /><br />

    <div class="contentBodyBg">

        <img src="img/img5.png" class="img-fluid contentBodyBg" />

    </div>



    <footer>

        <div class="container-fluid">

            <div class="row">

                <div class="col-12 col-md-3">

                    <img src="img/logoDark.png" class="img-fluid mb-3" />

                    <img src="img/fruits.png" class="d-none d-lg-block" />

                </div>

                <div class="col-12 col-md-2">

                    <h5>COMPANY</h5>

                    <ul class="list-unstyled">

                        <li><a href="about.php">About Us</a></li>

                        <li><a href="profile.php">Founders Profile</a></li>

                        <li><a href="csrPolicy.php">CSR Policy</a></li>

                        <li><a href="visionMission.php">Vision & Mission</a></li>

                        <li><a href="certifications.php">Certifications</a></li>

                    </ul>

                </div>

                <div class="col-12 col-md-3">

                    <h5>SERVICES</h5>

                    <ul class="list-unstyled">

                        <li><a href="">Smart Weight Loss Program</a></li>

                        <li><a href="">Smart Disease Management</a></li>

                        <li><a href="">Smart Weight Gain Program</a></li>

                        <li><a href="">Smart Enhancer</a></li>

                        <li><a href="">Mental Health & Emotional Eating</a></li>

                        <li><a href="">Smart Eating Out</a></li>

                        <li><a href="">Smart Body Toning</a></li>

                        <li><a href="">Smart Child Nutrition</a></li>

                    </ul>

                </div>

                <div class="col-12 col-md-2">

                    <h5>RESOURCES</h5>

                    <ul class="list-unstyled">

                        <li><a href="careers.php">Careers</a></li>

                        <li><a href="terms.php">Terms Of Use</a></li>

                        <li><a href="privacyPolicy.php">Privacy Policy</a></li>

                        <li><a href="refundPolicy.php">Refund Policy</a></li>

                        <li><a href="faq.php">FAQ’s</a></li>

                        <li><a href="reviews.php">Reviews</a></li>

                        <li><a href="contact.php">Contact Us</a></li>

                    </ul>

                </div>

                <div class="col-12 col-md-2">

                    <h5>FOLLOW US</h5>

                    <ul class="list-inline">

                        <li class="list-inline-item"><a href=""><img src="img/fb.png" /></a></li>

                        <li class="list-inline-item"><a href=""><img src="img/tw.png" /></a></li>

                        <li class="list-inline-item"><a href=""><img src="img/insta.png" /></a></li>

                    </ul>

                </div>

                <div class="col-12 text-center text-md-right">

                    <hr />

                    <p class="mb-2">
                        Site designed by ExellarTech &nbsp;&nbsp;

                        <span>@2020 eating smart. All rights reserved</span>

                    </p>

                </div>

            </div>

        </div>

    </footer>







    <script src="js/jquery-3.5.1.slim.min.js"></script>

    <script src="js/custom.js"></script>



    <!-- scroll effects -->

    <script src="js/jquery.smoove.js"></script>

    <script>$(".effects").smoove({offset:"30%"});</script>



    <script src="js/popper.min.js"></script>

    <script src="js/bootstrap.min.js"></script>





</body>

</html>