<?php include("include/functions.php"); ?>

<?php getHead(); ?>



<div class="container-fluid bg-sky">

    <div class="row">

        <div class="col-12 col-md-12 col-lg-12 text-center pt-3 pb-2">

            <h2 class="semi text-white text-shadow">MY ACCOUNT</h2>

        </div>

    </div>

</div>


<div class="container-fluid flowerBg">

    <div class="row justify-content-center">

        <div class="col-12 col-md-12 col-lg-8">

            <div class="row justify-content-center align-items-center middleContent">

                <div class="col-12 col-md-5 col-lg-5 d-flex align-items-center loginScreen">

                    <div>

                        <img src="img/briefcase.png" class="img-fluid mb-5" />

                        <h2 class="semi">REGISTER</h2>

                        <p>Be a part of Eating Smart and enjoy a healthy lifestyle!</p>

                    </div>

                </div>

                <div class="col-12 col-md-7 col-lg-7 d-flex align-items-center loginForm">

                    <form>

                        <div class="form-row">

                            <div class="col-12 col-md-12 form-group">

                                <input type="text" class="form-control border" placeholder="Enter Username">

                            </div>

                            <div class="col-12 col-md-12 form-group">

                                <input type="text" class="form-control border" placeholder="Enter Mobile No">

                            </div>

                            <div class="col-12 col-md-12 form-group">

                                <input type="text" class="form-control border" placeholder="Enter Email ID">

                            </div>

                            <div class="col-12 col-md-12 form-group">

                                <input type="text" class="form-control border" placeholder="Choose Your Password">

                            </div>

                            <div class="col-12 col-md-12 form-group">

                                <a class="btn btn-reg mb-2 hvr-sweep-to-top btn-block rounded-0">&nbsp; &nbsp; Register &nbsp; &nbsp; </a>

                            </div>

                            <div class="col-12 col-md-12 form-group">

                                <p><a href="login.php" class="text-dark"><small>Already have an account? <u>Sign in now!</u></small></a></p>

                            </div>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>




<?php include("include/footer.php"); ?>

