
@{
    ViewBag.Title = "AdminView";
}

<div class="container-fluid flowerBg">
    <div style="padding-top:10px;" class="row justify-content-center">
        <a href="index3.php" target="_blank" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">Eating Smart Pattern(4)</a>
        <a href="index4.php" target="_blank" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">User Message(6)</a>
        <a href="index.php" target="_blank" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">Health Rating(1)</a>
        <a href="index2.php" target="_blank" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">Assessment Filled(12)</a>
        <a href="blogs.php" target="_blank" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">Tracker Filled(5)</a>
        <a href="blogs.php" target="_blank" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">Tracker(5) 6th and 11th day falls today</a>
        <a href="blogs.php" target="_blank" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">New Users(4)</a>
        <a href="blogs.php" target="_blank" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">New Orders(6)</a>
    </div>
   
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow">
                <div class="row">
                    <div class="demo-container">
                        <div id="gridContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    window.onload = function ()
    {

        CommonAjaxMethod('Home/GetUserDetails', null, false, 'GET', function (response) {
            Load(response.dataCollection);
            //$("#gridContainer").dxDataGrid(
            //    {
            //        dataSource: response.dataCollection,
            //        columns: ["FirstName", "LastName", "Email", "UserName", "MobileNo"],
            //    showBorders: true
            //});
        });
    }

    function Load(ctr)
    {
        
             $("#gridContainer").dxDataGrid({
                 dataSource: ctr,
                allowColumnReordering: true,
                showBorders: true,
              
                searchPanel: {
                    visible: true
                },
                paging: {
                    pageSize: 10
                },
                groupPanel: {
                    visible: true
                },
                editing: {
                    mode: "form",
                    allowUpdating: false
                },
                columns: [
                    "FirstName",
                    "LastName",
                    "Email",
                     "UserName",
                    "MobileNo",                  
                    {
                        caption: "View User Details",
                        alignment: 'center',
                        cellTemplate: function (container, options) {
                            $('<a />').addClass('dx-link')
                                .text('View Detail')
                                .on('dxclick', function () {
                                    debugger;                                 
                                  
                                    sessionStorage.setItem('SelectedUserId', options.data.userId);
                                    window.location.href = "assessment";
                                }).appendTo(container);
                        }
                    }
                       
                ]
             });        
    } 
</script>

