
@{
    ViewBag.Title = "AdminView";
}

<div class="container-fluid flowerBg">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow">
                <div class="row">
                    <div class="demo-container">
                        <div id="gridContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    window.onload = function ()
    {

        CommonAjaxMethod('Home/GetUserDetails', null, false, 'GET', function (response) {
            $("#gridContainer").dxDataGrid(
                {
                    dataSource: response.dataCollection,
                    columns: ["FirstName", "LastName", "Email", "UserName", "MobileNo"],
                showBorders: true
            });
        });
    }
 
</script>

