
@{
    ViewBag.Title = "AdminView";
}

<div class="container-fluid flowerBg">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow">
                <div class="row">
                    <div class="demo-container">
                        <div id="gridContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    window.onload = function ()
    {

        CommonAjaxMethod('Home/GetUserDetails', null, false, 'GET', function (response) {
            Load(response.dataCollection);
            //$("#gridContainer").dxDataGrid(
            //    {
            //        dataSource: response.dataCollection,
            //        columns: ["FirstName", "LastName", "Email", "UserName", "MobileNo"],
            //    showBorders: true
            //});
        });
    }

    function Load(ctr)
    {
        
             $("#gridContainer").dxDataGrid({
                 dataSource: ctr,
                allowColumnReordering: true,
                showBorders: true,
              
                searchPanel: {
                    visible: true
                },
                paging: {
                    pageSize: 10
                },
                groupPanel: {
                    visible: true
                },
                editing: {
                    mode: "form",
                    allowUpdating: false
                },
                columns: [
                    "FirstName",
                    "LastName",
                    "Email",
                     "UserName",
                    "MobileNo",                  
                    {
                        caption: "View User Details",
                        alignment: 'center',
                        cellTemplate: function (container, options) {
                            $('<a />').addClass('dx-link')
                                .text('View')
                                .on('dxclick', function () {
                                    editedRow = options.data.UserID;
                                    sessionStorage.setItem('SelectedUserId', options.data.UserID);
                                    window.location.href = "assessment";
                                }).appendTo(container);
                        }
                    }
                       
                ]
             });        
    } 
</script>

