
@{
    ViewBag.Title = "AdminView";
}
@Styles.Render("~/Content/DevExtremeBundle")
<div class="container-fluid flowerBg">
    <div style="padding-top:10px;" class="row justify-content-center">
        <input type="hidden" id="hdnLoginUserId" />
        <a href="#" onclick="LoadGrid(1)" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">User Message<span class="float-right d-none d-md-block" id="spMessage"></span></a>
        <a href="#" onclick="LoadRatingGrid()" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">Health Rating<span class="float-right d-none d-md-block" id="spRating"></span></a>
        <a href="#" onclick="LoadGrid(2)" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">Assessment Filled<span class="float-right d-none d-md-block" id="spAssessment"></span></a>
        <a href="#" onclick="LoadGrid(3)" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">Tracker Filled<span class="float-right d-none d-md-block" id="spTF"></span></a>
        <a href="#" onclick="LoadGrid(4)" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">Tracker 6th and 11th day falls today<span class="float-right d-none d-md-block" id="spTFF"></span></a>
        <a href="#" onclick="LoadGrid(5)" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">New Users <span class="float-right d-none d-md-block" id="spUsers"></span></a>
        <a href="#" onclick="LoadOrderGrid(6)" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">New Orders<span class="float-right d-none d-md-block" id="spOrder"></span></a>
        <a href="#" onclick="LoadOrderGrid(7)" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">Completed<span class="float-right d-none d-md-block" id="spCompleted"></span></a>
        <a href="#" onclick="LoadOrderGrid(8)" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">Active<span class="float-right d-none d-md-block" id="spActive"></span></a>
        <a href="#" onclick="LoadOrderGrid(9)" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">DeActiveCount<span class="float-right d-none d-md-block" id="spDeActiveCount"></span></a>
        <a href="#" onclick="LoadAll()" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">All Users</a>
        @*<a href="#" onclick="LoadPromocode()" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">Coupen Master</a>*@
        <a href="~/Admin/CoupenMaster" class="btn bg-sky hvr-sweep-to-top mr-3 mb-3">Coupon Master</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow" style="overflow-x: scroll;">
                <div class="row">
                    <div class="demo-container">
                        <div id="gridContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function LoadPromocode() {        
        window.location.href = "Admin/CoupenMaster?userId=" + options.data.userId;
        //CommonAjaxMethod('Home/GetPromocodeView', { CoupenId: "0" }, false, 'GET', function (response) {
        //    LoadPromocodedata(response.dataCollection);
        //});
    }
    function LoadAll()
    {
        CommonAjaxMethod('Home/GetUserDetails', null, false, 'GET', function (response) {
         
            LoadUsers(response.dataCollection);
            //$("#gridContainer").dxDataGrid(
            //    {
            //        dataSource: response.dataCollection,
            //        columns: ["FirstName", "LastName", "Email", "UserName", "MobileNo"],
            //    showBorders: true
            //});
        });
    }
    function LoadRatingGrid()
    {       
        CommonAjaxMethod('Home/GetEnquiryRatingView', null, false, 'GET', function (response) {
         
            LoadEnquiry(response.dataCollection);
            //$("#gridContainer").dxDataGrid(
            //    {
            //        dataSource: response.dataCollection,
            //        columns: ["FirstName", "LastName", "Email", "UserName", "MobileNo"],
            //    showBorders: true
            //});
        });
        
    }

    function LoadOrderGrid(strVar) {
        var vType = 0;
        var module = "";
        if (strVar == 1) {
            vType = "7"
            module = "M";
        }
        else if (strVar == 2) {
            vType = "2"
            module = "A";
        }
        else if (strVar == 3) {
            vType = "3"
            module = "T";
        }
        else if (strVar == 4) {
            vType = "6"
            module = "T";
        }
        else if (strVar == 5) {
            //user
            vType = "5"
            module = "U";
        }
        else if (strVar == 6) {
            //order
            vType = "4"
            module = "O";
        }
        else if (strVar == 7) {
            //order
            vType = "9"
            module = "C";
        }
        else if (strVar == 8) {
            //order
            vType = "10"
            module = "AC";
        }
        else if (strVar == 9) {
            //order
            vType = "11"
            module = "AC";
        }
        var obj1 = {

            Type: vType,
            OperationType: "GET",
            UserId: 1
        }
        CommonAjaxMethod('Home/AdminNotificationEnquiryMessage', obj1, false, 'POST', function (response) {

            $("#gridContainer").dxDataGrid({
                dataSource: response.data.Data,
                allowColumnReordering: true,
                showBorders: true,
                columnMinWidth: 180,
                searchPanel: {
                    visible: true
                },
                paging: {
                    pageSize: 10
                },
                groupPanel: {
                    visible: true
                },
                editing: {
                    mode: "form",
                    allowUpdating: false
                },
                columns: [
                    {
                        dataField: "FirstName",
                        width: 100
                    },
                     {
                         dataField: "LastName",
                         width: 100
                     },
                      {
                          dataField: "Email",
                          width: 100
                      },
                       {
                           dataField: "UserName",
                           width: 100
                       },
                       {
                           dataField: "MobileNo",
                           width: 100
                       },
                   
                     {
                         caption: "Action Date",
                         width: 100,
                         allowEditing: false,
                         calculateCellValue: function (data) {
                             return getdate(data.AddedWhen);
                         }
                     },
                      {
                          caption: "Program Detail",
                          width: 100,
                          alignment: 'center',
                          cellTemplate: function (container, options) {
                              $('<a />').addClass('dx-link')
                                  .text('Program Detail')
                                  .on('dxclick', function () {

                                    
                                      window.location.href = "UserDetails?userId=" + options.data.OrderDetail_Id;
                                  }).appendTo(container);
                          }
                      }

                ]
            }); rders: true
            //});
        });

    }
    function LoadGrid(strVar)
    {
        var vType = 0;
        var module = "";
        if (strVar==1)
        {
            vType = "7"
            module = "M";
        }
        else if (strVar==2)
        {
            vType = "2"
            module = "A";
        }
        else if (strVar == 3) {
            vType = "3"
            module = "T";
        }
        else if (strVar == 4) {
            vType = "6"
            module = "T";
        }
        else if (strVar == 5) {
            //user
            vType = "5"
            module = "U";           
        }
        else if (strVar == 6) {
            //order
            vType = "4"
            module = "O";
        }
        else if (strVar == 7) {
            //order
            vType = "9"
            module = "C";
        }
        else if (strVar == 8) {
            //order
            vType = "10"
            module = "AC";
        }
        var obj1 = {

            Type: vType,
            OperationType: "GET",
            UserId: 1
        }
        CommonAjaxMethod('Home/AdminNotificationEnquiryMessage', obj1, false, 'POST', function (response) {
           
            Load(response.data.Data, module);
            //$("#gridContainer").dxDataGrid(
            //    {
            //        dataSource: response.dataCollection,
            //        columns: ["FirstName", "LastName", "Email", "UserName", "MobileNo"],
            //    showBorders: true
            //});
        });

    }
    window.onload = function ()
    {
        var obj = {

           Type:"",
           OperationType:"",
            UserId:1
        }


        CommonAjaxMethod('Home/GetAdminNotification', obj, false, 'POST', function (response)
        {
                   
            $("#spMessage").text(" ("+response.data.Data[0].MessageCount+")");
            $("#spRating").text(" ("+response.data.Data[0].EnquiryCount+")");
            $("#spAssessment").text(" ("+response.data.Data[0].AssessmentCount+")");
            $("#spTF").text(" ("+response.data.Data[0].TrackerFilled+")");
            $("#spTFF").text(" ("+response.data.Data[0].Trackerfalldays+")");
            $("#spUsers").text(" ("+response.data.Data[0].NewUserCount+")");
            $("#spOrder").text(" ("+response.data.Data[0].NewOrder+")");

            $("#spCompleted").text(" (" + response.data.Data[0].CompletedCount + ")");
            $("#spActive").text(" (" + response.data.Data[0].ActiveCount + ")");
         
            $("#DeActiveCount").text(" (" + response.data.Data[0].DeActiveCount + ")");
            

           // Load(response.dataCollection);
            //$("#gridContainer").dxDataGrid(
            //    {
            //        dataSource: response.dataCollection,
            //        columns: ["FirstName", "LastName", "Email", "UserName", "MobileNo"],
            //    showBorders: true
            //});
        });
      
        CommonAjaxMethod('Home/GetUserDetails', null, false, 'GET', function (response)
        {
            
            LoadUsers(response.dataCollection);
            //$("#gridContainer").dxDataGrid(
            //    {
            //        dataSource: response.dataCollection,
            //        columns: ["FirstName", "LastName", "Email", "UserName", "MobileNo"],
            //    showBorders: true
            //});
        });
    }

  
    function Load(ctr, module)
    {
        var endPoint = "";
        if (module == "A")
        {
            endPoint = "assessment";
        }
        if (module == "M")
        {
            endPoint = "helpDesk";
        }
        if (module == "T") {
            endPoint = "tracker";
        }
        if (module == "O") {
            endPoint = "ViewPlan";
        }
        if (module == "U") {
            endPoint = "UserDetails";
        }
             $("#gridContainer").dxDataGrid({
                 dataSource: ctr,
                allowColumnReordering: true,
                showBorders: true,
                columnMinWidth: 180,
                searchPanel: {
                    visible: true
                },
                paging: {
                    pageSize: 10
                },
                groupPanel: {
                    visible: true
                },
                editing: {
                    mode: "form",
                    allowUpdating: false
                },
                columns: [
                    {
                        dataField: "FirstName",
                        width: 100
                    },
                     {
                         dataField: "LastName",
                         width: 100
                     },
                      {
                          dataField: "Email",
                          width: 100
                      },
                       {
                           dataField: "UserName",
                           width: 100
                       },
                       {
                           dataField: "MobileNo",
                           width: 100
                       },
                     {
                         caption: "Action Date",
                         width: 100,
                         allowEditing: false,
                         calculateCellValue: function (data) {
                             return getdate(data.AddedWhen);
                         }
                     },
                      {
                          caption: "User Dashboard",
                          alignment: 'center',
                          width: 100,
                          cellTemplate: function (container, options) {
                              $('<a />').addClass('dx-link')
                                  .text('View Detail')
                                  .on('dxclick', function () {

                                      sessionStorage.setItem('SelectedUserId', options.data.userId);
                                      window.location.href = "assessment?userId=" + options.data.userId;
                                  }).appendTo(container);
                          }
                      },
                    {
                        caption: "View Details",
                        alignment: 'center',
                        width: 100,
                        cellTemplate: function (container, options) {
                            $('<a />').addClass('dx-link')
                                .text('View Detail')
                                .on('dxclick', function () {
                                                                     
                                  
                                    sessionStorage.setItem('SelectedUserId', options.data.userId);
                                    window.location.href = endPoint + "?userId=" + options.data.userId;
                                }).appendTo(container);
                        }
                    }
                    ,
                    {
                        caption: "Add Free Session",
                        alignment: 'center',
                        width: 100,
                        cellTemplate: function (container, options) {
                            $('<a />').addClass('dx-link')
                                .text('Free Session')
                                .on('dxclick', function () {

                                    window.location.href = "AddFreeSession?userId=" + options.data.userId;
                                }).appendTo(container);
                        }
                    }
                       
                ]
             });        
    }


    function LoadUsers(ctr, module)
    {
       
        $("#gridContainer").dxDataGrid({
            dataSource: ctr,
            allowColumnReordering: true,
            showBorders: true,
            columnMinWidth: 180,
            searchPanel: {
                visible: true
            },
            paging: {
                pageSize: 10
            },
            groupPanel: {
                visible: true
            },
            editing: {
                mode: "form",
                allowUpdating: false
            },
            columns: [
               {
                   dataField: "FirstName",
                   width: 100
               },
                     {
                         dataField: "LastName",
                         width: 100
                     },
                      {
                          dataField: "Email",
                          width: 100
                      },
                       {
                           dataField: "UserName",
                           width: 100
                       },
                       {
                           dataField: "MobileNo",
                           width: 100
                       },
                 {
                     caption: "Action Date",
                     width: 120,
                     allowEditing: false,
                     calculateCellValue: function (data) {
                         return getdate(data.AddedWhen);
                     }
                 },
                  {
                      caption: "User Dashboard",
                      width: 100,
                      alignment: 'center',
                      cellTemplate: function (container, options) {
                          $('<a />').addClass('dx-link')
                              .text('View Detail')
                              .on('dxclick', function () {

                                  sessionStorage.setItem('SelectedUserId', options.data.userId);
                                  window.location.href = "assessment?userId=" + options.data.userId;
                              }).appendTo(container);
                      }
                  },
                {
                    caption: "Add Free Session",
                    width: 100,
                    alignment: 'center',
                    cellTemplate: function (container, options) {
                        $('<a />').addClass('dx-link')
                            .text('Free Session')
                            .on('dxclick', function () {

                                window.location.href = "AddFreeSession?userId=" + options.data.userId;
                            }).appendTo(container);
                    }
                }

            ]
        });
    }

    function LoadEnquiry(ctr) {

        //public int Enquiry_Id{ get; set; }
        //public string FirstName{ get; set; }
        //public string LastName{ get; set; }
        //public string ContactNumber{ get; set; }
        //public string Email_ID{ get; set; }
        //public string City{ get; set; }
        //public string State{ get; set; }
        //public string Address1{ get; set; }
        //public string Address2{ get; set; }
        //public string Pin_Code{ get; set; }
        //public string Country{ get; set; }
        //public string AgeGroup{ get; set; }
        //public string UserId{ get; set; }
        //public bool CheckedByAdmin{ get; set; }
        //public decimal ? BMI { get; set; }
        //public decimal? WaterIntake { get; set; }
        //public decimal? IdealBodyWeight { get; set; }
        $("#gridContainer").dxDataGrid({
            dataSource: ctr,
            allowColumnReordering: true,
            columnMinWidth: 180,
            showBorders: true,

            searchPanel: {
                visible: true
            },
            paging: {
                pageSize: 10
            },
            groupPanel: {
                visible: true
            },
            editing: {
                mode: "form",
                allowUpdating: false
            },
            columns: [
                "FirstName",            
                "Email_ID",
                "AgeGroup",
                "ContactNumber",
                 {
                     dataField: "City",
                     caption: "Location",
                 },
                "BMI",
                "WaterIntake",
                "IdealBodyWeight",
                                 
                    {
                        caption: "Action Date",

                        allowEditing: false,
                        calculateCellValue: function (data) {
                            return getdate(data.AddedWhen);
                        }
                    },
                {
                    caption: "Details",
                    alignment: 'center',
                    cellTemplate: function (container, options) {
                        $('<a />').addClass('dx-link')
                            .text('View Detail')
                            .on('dxclick', function () {
                                                            
                                window.location.href = "ViewEnquiryDetails?Enquiry_Id=" + options.data.Enquiry_Id;
                               
                            }).appendTo(container);
                    }
                }

            ]
        });
    }

    function getdate(strdate) {
        var strRetrunDate;
        if (strdate != null) {
            var dateData = new Date(parseInt(strdate.replace("/Date(", "").replace(")/")));
            var dd = dateData.getDate();
            var mm = dateData.getMonth() + 1; //January is 0!
            var yyyy = dateData.getFullYear();
            if (dd < 10) { dd = '0' + dd }
            if (mm < 10) { mm = '0' + mm }


            var hours = dateData.getHours();
            var minutes = dateData.getMinutes();
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;

            strRetrunDate = yyyy + '-' + mm + '-' + dd +" " +strTime;
        }
        return strRetrunDate;
    }
</script>

