
@{
    ViewBag.Title = "careers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid pl-0 pr-0 mb-5">
    <div class="row no-gutters banner careersBanner align-items-center">
        <div class="col-12 text-center">
            <div class="d-none d-md-block">
                <h2 class="bold mb-2">Join The Eating Smart Family!</h2>
            </div>
            <div class="d-block d-md-none banner-xs">
                <img src="@CommonMethods.ServerPath/banner/careers-xs.jpg" alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center mb-2 justify-content-center">
        <div class="col-12 col-md-11 col-lg-10 text-center">
            <p>When ambition is first sparked by your interest in health & diet, we are pleased that you are interested in Eating Smart. Every project starts with a team of dedicated employees. We are looking for individuals who are eager to develop their skills and apply them together to create unique health care expertise.</p>
            <p>For more details, mail us your resume at info@eatingsmart.in or Fill the form with attached resume.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form>
                <div class="form-row">
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <input type="text" class="form-control border" placeholder="Name">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <input type="text" class="form-control border" placeholder="Email">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <input type="text" class="form-control border" placeholder="Mobile">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <input type="text" class="form-control border" placeholder="state">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <input type="text" class="form-control border" placeholder="City">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Attach Resume</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 form-group">
                        <textarea rows="5" class="form-control border" placeholder="Name"></textarea>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 form-group text-right">
                        <a class="btn btn-reg mb-2 hvr-sweep-to-top">&nbsp; &nbsp; SEND NOW &nbsp; &nbsp; </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br />

<div class="bg-yellow">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-5 pb-5">
                <h2 class="text-white bold pt-2">Bond of Trust With Commitment Of Quality</h2>
            </div>
        </div>
    </div>
</div>

