﻿
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .contactMand {
    }
</style>


<div class="container-fluid pl-0 pr-0 mb-3">
    <div class="row no-gutters banner contactBanner justify-content-center align-items-center">
        <div class="col-12 col-md-11 text-right">
            <div class="d-none d-md-block">
                <h2 class="bold mb-0">Let’s Discuss</h2>
                <h1 class="alex text-yellow semi mr-4">together!</h1>
            </div>
            <div class="d-block d-md-none banner-xs">
                <img src="@CommonMethods.ServerPath/img/banner/contacts-xs.jpg" alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row flex-row-reverse justify-content-between">
        <div class="col-12 col-lg-4">
            <h2 class="text-sky bold mt-4 mb-3">Contact Info</h2>
            <div class="address mb-5">
                <div>
                    <span>A</span> 1002, Maqba heights,<br />
                    15A Pali road, Bandra (west),<br />
                    Mumbai - 400050<br />
                </div>

                <div>
                    <span>C</span> +91 8452 811 506<br />
                </div>
                <div>
                    <span>E</span> info@eatingsmart.in<br />
                </div>
                <div>
                    <span>T</span> Mon-Sat 10:00 am-6:00pm IST
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 col-lg-7 mt-4">
            <h2 class="text-sky bold mb-4">Contact Form</h2>
            <form>
                <div class="form-row">
                    <div class="col-12 col-md-6 form-group">
                        <input type="text" class="form-control border contactMand" id="txtContactName" placeholder="Name">
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <input type="text" class="form-control border contactMand" id="txtContactemail" placeholder="Email">
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <input type="text" class="form-control border contactMand" id="txtContactphone" placeholder="Phone">
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <input type="text" class="form-control border contactMand" id="txtContactsubject" placeholder="Subject">
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 form-group">
                        <textarea rows="8" class="form-control border contactMand" id="txtContactMessage" placeholder="Message"></textarea>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 form-group">
                        <a class="btn btn-reg mb-2 hvr-sweep-to-top" href="#" onclick="return SendEmail();">&nbsp; &nbsp; SEND NOW &nbsp; &nbsp; </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="contentBodyBg">
    <img src="@CommonMethods.ServerPath/img/img5.png" class="img-fluid contentBodyBg" />
</div>


<script>
    function ValidateRequiredField()
    {

        var isRequired = true;
        var x = document.getElementsByClassName("contactMand");
        var i;
        for (i = 0; i < x.length; i++) {

            if (x[i].value == "") {
                isRequired = false;
            }
        }
        return isRequired;
    }
    function SendEmail()
    { var vPath = "@Url.Content("~/")";
        if(ValidateRequiredField())
        {
            var htmlTable = '<table role="presentation" border="0" cellpadding="0" cellspacing="0" style="max-width:700px; width:100%;">' +
                     '<tr>' +
                         '<td>' +
                             '<h2 style="color:#fff;font-size:22px;padding: 0px 20px;font-family:"Montserrat", sans-serif;margin-bottom:20px;font-weight:bold;">Contact Name :' + $("#txtContactName").val() + '</h2>'+
                               '<h2 style="color:#fff;font-size:22px;padding: 0px 20px;font-family:"Montserrat", sans-serif;margin-bottom:20px;font-weight:bold;">Email :' + $("#txtContactemail").val() + '</h2>' +
                '<h2 style="color:#fff;font-size:22px;padding: 0px 20px;font-family:"Montserrat", sans-serif;margin-bottom:20px;font-weight:bold;">Contact :' + $("#txtContactphone").val() + '</h2>' +
                '<h2 style="color:#fff;font-size:22px;padding: 0px 20px;font-family:"Montserrat", sans-serif;margin-bottom:20px;font-weight:bold;">Subject :' + $("#txtContactsubject").val() + '</h2>' +
                                '<h2 style="color:#fff;font-size:22px;padding: 0px 20px;font-family:"Montserrat", sans-serif;margin-bottom:20px;font-weight:bold;">Message :</h2>' +
                                  '<p style="color:#fff;font-size:14px;padding: 0px 20px;font-family: "Montserrat", sans-serif;margin-bottom:20px;font-weight:600;line-height:25px;">' + $("#txtContactMessage").val() + '</p>' +
                         '</td>' +
                     '</tr>' +
                '</table>';



            var data = {
                Email: $("#txtContactemail").val(),
                Name: $("#txtContactName").val(),
                Subject: $("#txtContactsubject").val(),
                Message: htmlTable,
                Phone: $("#txtContactphone").val()
            };
            CommonAjaxMethod('Home/SendContact', data, false, 'POST', function (response) {
                alert("Your details have been submitted.")
            });

        }
        else
        {
            alert("Please provide all details.")
            return false;
        }

    }
</script>

