
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .contactMand
    {

    }
</style>


<div class="container-fluid pl-0 pr-0 mb-3">
    <div class="row no-gutters banner contactBanner justify-content-center align-items-center">
        <div class="col-12 col-md-11 text-right">
            <div class="d-none d-md-block">
                <h2 class="bold mb-0">Let’s Discuss</h2>
                <h1 class="alex text-yellow semi mr-4">together!</h1>
            </div>
            <div class="d-block d-md-none banner-xs">
                <img src="@CommonMethods.ServerPath/img/banner/contacts-xs.jpg" alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row flex-row-reverse justify-content-between">
        <div class="col-12 col-lg-4">
            <h2 class="text-sky bold mt-4 mb-3">Contact Info</h2>
            <p class="address mb-5">
                <span>A</span> Mumbai. INDIA<br />
                <span>C</span> +91 8452 811 506<br />
                <span>E</span> info@eatingsmart.in<br />
                <span>T</span> Mon-Sat 10:00 am-6:00pm IST
            </p>
        </div>
        <div class="col-12 col-md-10 col-lg-7 mt-4">
            <h2 class="text-sky bold mb-4">Contact Form</h2>
            <form>
                <div class="form-row">
                    <div class="col-12 col-md-6 form-group">
                        <input type="text" class="form-control border contactMand" id="txtContactName" placeholder="Name">
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <input type="text" class="form-control border contactMand" id="txtContactemail" placeholder="Email">
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <input type="text" class="form-control border contactMand" id="txtContactphone" placeholder="Phone">
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <input type="text" class="form-control border contactMand" id="txtContactsubject" placeholder="Subject">
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 form-group">
                        <textarea rows="8" class="form-control border contactMand" id="txtContactMessage" placeholder="Message"></textarea>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 form-group">
                        <a class="btn btn-reg mb-2 hvr-sweep-to-top" href="#" onclick="return SendEmail();">&nbsp; &nbsp; SEND NOW &nbsp; &nbsp; </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br /><br /><br /><br />
<div class="contentBodyBg">
    <img src="@CommonMethods.ServerPath/img/img5.png" class="img-fluid contentBodyBg" />
</div>


<script>
    function ValidateRequiredField()
    {

        var isRequired = true;
        var x = document.getElementsByClassName("contactMand");
        var i;
        for (i = 0; i < x.length; i++) {

            if (x[i].value == "") {
                isRequired = false;
            }
        }
        return isRequired;
    }
    function SendEmail()
    { var vPath = "@Url.Content("~/")";
        if(ValidateRequiredField())
        {
            var tblString = '<table><thead><tr><td>Name</td><td>Email</td><td>Phone</td><td>Subject</td><td>Message</td></tr></thead>' +
                
                '<tbody><tr">' +
                    '<td>' + $("#txtContactName").val() +
                    '</td>' +
                    '<td>' + $("#txtContactemail").val() +

                    '</td>' +
                    '<td>' + $("#txtContactphone").val() +

                    '</td>' +
                    '<td>' + $("#txtContactsubject").val() +

                    '</td>' +
                    '<td>' + $("#txtContactMessage").text() +
                     '</td>' +
                    '</tr></tbody>';
          
            var data = {
                Email: $("#txtContactemail").val(),
                Name: $("#txtContactName").val(),
                Subject: $("#txtContactsubject").val(),
                Message: tblString,
                Phone: $("#txtContactphone").val()
            };
            CommonAjaxMethod('Home/SendContact', data, false, 'POST', function (response) {
                alert("Your details have been submitted.")
            });
           
        }
        else
        {
            alert("Please provide all details.")
            return false;
        }

    }
</script>

