
@{
    ViewBag.Title = "corporateWellness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pl-0 pr-0">

    <div class="row no-gutters banner corporateBanner align-items-center">

        <div class="col-12 col-md-8 col-lg-7 text-right">

            <div class="d-none d-md-block">

                <h2 class="bold mb-0">
                    Stay Positive</h1>

                    <h1 class="alex text-yellow semi mr-4">with good health</h1>

            </div>

            <div class="d-block d-md-none banner-xs">

                <img src="@CommonMethods.ServerPath/img/banner/corporateWellnes-xs.jpg" alt="" class="img-fluid" />

            </div>

        </div>

    </div>

</div>


<div class="container">

    <div class="row justify-content-center">

        <div class="col-12 col-md-9">

            <div class="row">

                <div class="col-12 col-md-12 col-lg-12 text-center">

                    <h1 class="text-sky mt-5 mb-4">
                        ENHANCE YOUR EMPLOYEES PRODUCTIVITY

                        THROUGH A SMARTER LIFESTYLE

                    </h1>

                    <p>Our corporate wellness service is a flexible one taking into consideration sedentary lifestyle, work pressure and tedious working hours.</p>

                    <p>Food and mood is very closely related, which causes a vicious cycle affecting whatever we do throughout the day.</p>

                    <p>Closely analyzing, every aspect of this program is very open ended, with a very open approach to eating.</p>

                    <p>In depth analysis of one’s health status, eating out regimen, activity level, lifestyle and eating pattern.</p>

                    <p class="semi">"We make things easy and sustainable since health is not just about physical wellbeing but also mental wellbeing"</p>

                    <p>With the right nutrition we also work on the mental aspect, with the right foods that will help to relieve stress, relax your body, to help you work better and get fitter too.</p>

                    <p class="text-sky mb-5">
                        FOR MORE DETAILS<br />

                        <a href="~/Home/contact" class="btn bg-sky hvr-sweep-to-top">ENQUIRE NOW!</a>

                    </p>

                </div>

            </div>

        </div>

    </div>

</div>


<div class="corporateWellness testimonialBlock">

    <img src="@CommonMethods.ServerPath/img/img17.png" class="img-fluid imgLeft d-none d-lg-block" />

    <img src="@CommonMethods.ServerPath/img/img4.png" class="img-fluid imgRight d-none d-lg-block" />

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-12 col-md-12 col-lg-12 text-center">

                <h1 class="mb-5">
                    TO KEEP UP THE MOTIVATION,<br />

                    IT ALSO ENCOMPASSES THE FOLLOWING:

                </h1>

                <img src="@CommonMethods.ServerPath/img/corporateWellness/coporateWellness.png" class="img-fluid" />

            </div>

        </div>

    </div>

</div>


