
@{
    ViewBag.Title = "faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pl-0 pr-0 mb-5">
    <div class="row no-gutters banner faqBanner justify-content-center align-items-center">
        <div class="col-10">
            <div class="dib text-right">
                <h2 class="bold mb-0">We Always Look For</h2>
                <h1 class="alex text-yellow semi mr-4">solutions!</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-10">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="accordion" id="accordionFaq">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseOne">What is different about eating smart?</h2>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordionFaq">
                                <div class="card-body">
                                    <p>We at Eating smart help you tweak the diet that you usually eat. We look at both mental as well as physical well being, to maintain the joy of eating. We provide guidance and learning on how to make smart combinations and enjoy your favourite foods at ease for a lifetime.</p>
                                    <p>"It’s not a diet, rather a smarter lifestyle."</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo">For how long do we follow a session?</h2>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordionFaq">
                                <div class="card-body">
                                    <p>Each session is for 10 days, with various options to pick from. The body takes time to react and adapt to various foods. A good span of 10 days will be a good way to go ahead.</p>
                                    <!--<p>In a 1 month program we provide 3 sessions, i.e 3 diets, for 2 months we provide 6 sessions i.e 6 diets and so on.</p>-->
                                    <p>In a 1 month program we provide 3 sessions, i.e 3 eating sessions, for 2 months we provide 6 sessions i.e 6 eating pattern and so on.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree">What are the different modes of payment?</h2>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordionFaq">
                                <div class="card-body">
                                    <p>You can pay by Debit card/Credit card, Net Banking, PayPal, Google Pay, PhonePe, Paytm, direct payment link.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSeven">Is exercising while following the program compulsory?</h2>
                            </div>
                            <div id="collapseSeven" class="collapse" data-parent="#accordionFaq2">
                                <div class="card-body">
                                    <p>Exercising is an add on to our program. Exercising is like a cherry on the top to our diets.</p>
                                    <p>Although we have many clients who have a very busy schedule and are unable to exercise. We tailor the diet accordingly for them and help them reach their goal, the smarter way!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseEight">Do you guarantee weight loss?</h2>
                            </div>
                            <div id="collapseEight" class="collapse" data-parent="#accordionFaq2">
                                <div class="card-body">
                                    <p>No one can ever guarantee weight loss since everybody is different and loses weight at a different pace. Opting to a smarter lifestyle will definitely give you a lot of health benefits and enhance your overall health.</p>
                                    <p>Give your best, follow the advice well and we are bound to get good results together.</p>
                                    <p>We have 99.9% success rates, so you’re definitely in the right hands.</p>
                                    <p>"It’s not always about weight loss, but rather overall enhancement of one's health"</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseNine">I live in a PG, unable to cook/ I travel very often, would this program suit me?</h2>
                            </div>
                            <div id="collapseNine" class="collapse" data-parent="#accordionFaq2">
                                <div class="card-body">
                                    <p>Definitely, we have the eating out program that will suit you best. We provide options from various restaurants, keeping in mind the area you stay in or the city/ country you would be traveling to. Simple, on the go, easy to manage food choices will also be added for you.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTen">I’m a housewife and live in a joint family, cannot cook separately for myself, would this program suit me?</h2>
                            </div>
                            <div id="collapseTen" class="collapse" data-parent="#accordionFaq2">
                                <div class="card-body">
                                    <p>Yes, ofcourse. We keep in mind what is usually cooked at home for all the members of the family, tweaking it a little and we are good. Cooking many things separately, is not what we believe in. We will tailor the diet according to your convenience!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6 form-group">
                    <div class="accordion" id="accordionFaq2">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseFour">Would I gain back the lost weight?</h2>
                            </div>
                            <div id="collapseFour" class="collapse show" data-parent="#accordionFaq2">
                                <div class="card-body">
                                    <p>Our Eating Smart Maintenance tools, will always be at your rescue. They will pave your way to a smarter lifestyle and help you make wise choices with food wherever you go.</p>
                                    <p>If you follow it well, you will definitely be able to maintain your weight.</p>
                                    <p>"It’s not a diet, rather a smart lifestyle”</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFive">Are the diets restrictive, like a crash diet?</h2>
                            </div>
                            <div id="collapseFive" class="collapse" data-parent="#accordionFaq2">
                                <div class="card-body">
                                    <p>We donot believe in starvation, since it’s not the right way to go ahead. Our diets are based on a lifestyle basis. We help you to inculcate the habit of smart eating for a lifetime.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSix">Do you give any weight loss pills/ powders?</h2>
                            </div>
                            <div id="collapseSix" class="collapse" data-parent="#accordionFaq2">
                                <div class="card-body">
                                    <p>We believe in the power of natural foods. We donot give any weight loss pills or powders. All simple homebased ingredients familiar to you will be added to your eating pattern.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseEleven">Will I experience hair loss after following the program?</h2>
                            </div>
                            <div id="collapseEleven" class="collapse" data-parent="#accordionFaq2">
                                <div class="card-body">
                                    <p>Our diets are based on a lifestyle which help provide you with a boost of vitamins, minerals which will in fact enhance your hair and skin!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwelve">How will my progress be reviewed?</h2>
                            </div>
                            <div id="collapseTwelve" class="collapse" data-parent="#accordionFaq2">
                                <div class="card-body">
                                    <p>Our smart trackers will help you analyse your progress from time to time. The Eating Smart health rating will help you analyse where you stand in terms of health.</p>
                                    <p>In case of health conditions, we compare your reports, and formulate new goals accordingly.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThirteen">Will the results be as good as coming to a clinic in person?</h2>
                            </div>
                            <div id="collapseThirteen" class="collapse" data-parent="#accordionFaq2">
                                <div class="card-body">
                                    <p>Yes, infact it would be even better. Our guidance and help is at your finger tips, you’re confused in making your smart choice? Write to us and we will be there for you. Schedule a call with Sidra Patel and get all your doubts cleared in a short span of time.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br /><br />

