@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container-fluid pl-0 pr-0">
    <div class="row no-gutters">
        <div class="col-12 text-center">
            <img src="/img/home1-a.jpg" class="img-fluid w-100" />
            <div class="bannerAfter shadow">
                <h2 class="mb-0 dib pr-2 light">Looking For A Happy & Healthy Lifestyle? <a class="btn btn-reg mb-2 hvr-sweep-to-top" data-toggle="modal" href="#checkHealthMeter">CHECK YOUR HEALTH METER</a>	</h2>
            </div>
            <h2 class="marthin mt-5 semi">
                "Eating is a necessity but<br />
                eating smart is an art"
            </h2>
            <p class="text-yellow bold">QUOTE BY SIDRA PATEL</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 text-center">
            <h2 class="text-sky mt-5 mb-4 light">OUR EXCLUSIVE PROGRAMS</h2>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="proThumb effects" data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
                <div class="proImg shadow">
                    <img src="/img/exc1.jpg" class="img-fluid w-100" />
                </div>
                <div class="proText">
                    <h1 class="text-yellow bold marthin">Smart</h1>
                    <h5>WEIGHT LOSS PROGRAM</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="proThumb effects" data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
                <div class="proImg shadow">
                    <img src="/img/exc2.jpg" class="img-fluid w-100" />
                </div>
                <div class="proText">
                    <h1 class="text-yellow bold marthin">Smart</h1>
                    <h5>WEIGHT LOSS PROGRAM</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="proThumb effects" data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
                <div class="proImg shadow">
                    <img src="/img/exc3.jpg" class="img-fluid w-100" />
                </div>
                <div class="proText">
                    <h1 class="text-yellow bold marthin">Smart</h1>
                    <h5>WEIGHT LOSS PROGRAM</h5>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <a href="services.php" class="btn mb-5 hvr-sweep-to-top">SEE ALL SERVICES</a>
        </div>
    </div>
</div>

<div class="sidraPatel">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 col-md-6 text-center">
                <img src="/img/sidraPatel.png" class="img-fluid mb-3" />
                <h6 class="semi text-sky">YOUR DIGITAL HEALTH & FITNESS EXPERT</h6>
                <p class="mt-4 mb-5">Kudos to the smarter ways to a healthier you with Sidra. Sidra is a Dietitian & health expert. Being in love with food herself, she has embarked on this amazing journey to encourage her clients to focus on “Eating Smart”, instead of depriving themselves of the happiness that food is. </p>
                <a href="services.php" class="btn bg-sky hvr-sweep-to-top">READ MORE</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 text-center">
            <h2 class="text-sky mt-5 mb-4 light">HOW IT WORKS?</h2>
        </div>
        <div class="col-12 col-sm-6 col-md-3 workBlock effects" data-move-y="200px" data-move-x="-200px">
            <img src="/img/capsule.jpg" class="img-fluid" />
            <h5>Follow The <span class="semi">Regime</span></h5>
            <p class="mb-3">Observance of your own regime of the day, nutrition and exercise is the key to success.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 workBlock effects" data-move-y="200px" data-move-x="-100px">
            <img src="/img/weight.jpg" class="img-fluid" />
            <h5>Follow The <span class="semi">Regime</span></h5>
            <p class="mb-3">Observance of your own regime of the day, nutrition and exercise is the key to success.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 workBlock effects" data-move-y="200px" data-move-x="100px">
            <img src="/img/masroom.jpg" class="img-fluid" />
            <h5>Follow The <span class="semi">Regime</span></h5>
            <p class="mb-3">Observance of your own regime of the day, nutrition and exercise is the key to success.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 workBlock effects" data-move-y="200px" data-move-x="200px">
            <img src="/img/medal.jpg" class="img-fluid mb-3" />
            <h5>Follow The <span class="bold">Regime</span></h5>
            <h6 class="mb-3">Observance of your own regime of the day, nutrition and exercise is the key to success.</h6>
        </div>
    </div>
</div>

<div class="heathMeterSection">
    <img src="/img/img3.png" class="img-fluid imgLeft effects" data-move-x="-100px" />
    <img src="/img/img4.png" class="img-fluid imgRight effects" data-move-x="100px" />

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 col-md-auto text-center">
                <div class="text-left mt-4">
                    <img src="/img/calc.png" class="img-fluid mb-1" />
                </div>
                <h2 class="mb-1">LET'S CHECK YOUR <span class="bold text-orange">HEALTH METER!</span></h2>
                <div class="text-right mb-5">
                    <a href="services.php" class="btn bg-sky hvr-sweep-to-top">START USING CALCULATOR</a>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonialBlock">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-11 col-md-6 col-lg-5 text-center">
                    <h2 class="light">
                        HAPPY<br />
                        TESTIMONAILS
                    </h2>
                    <p class="mt-4 mb-4">Bonfire has been an absolute dream to work with - the platform is simple and easy to use, it is risk-free, and the products are truly excellent quality. In addition, their support team is prompt and very helpful. I would definitely recommend using Bonfire!</p>
                    <div>
                        <img src="/img/annie.png" class="img-fluid mr-3 align-bottom dib" />
                        <div class="dib">
                            <p class="semi mb-1">ANNIE SEGARRA</p>
                            <p class="mb-1">Alpenglow Collective</p>
                            <p class="mb-1">San Rafael, CA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="checkHealthMeter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6 bg-sky healthRating">
                        <img src="/img/healthRating.png" class="healthRatingImg" />
                        <div class="text-center pl-3 pr-3">
                            <p class="text-white"><span class="bold">Note:</span> <i>Forms for Adults & Childrens are different. All results would be mailed to user email address after completing the details!</i></p>
                        </div>
                        <div class="col1lftbgimg">
                            <img src="/img/img8.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 healthContent">

                        <ul class="nav nav-tabs navDefaultType">
                            <li class="nav-item">
                                <a class="nav-link active" id="adult-tab" data-toggle="tab" href="#adult" aria-selected="true"><span class="imgActive"></span> Adult</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="child-tab" data-toggle="tab" href="#child" aria-selected="false"><span class="imgActive"></span> Child</a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <div class="tab-pane fade show active" id="adult">

                                <div class="adultSrcA">
                                    <p class="text-white"><span class="bold">Step 1 :</span> Personal Details and Anthropometry</p>
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtFName" placeholder="Name" />
                                        </div>
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="ddlAge" placeholder="Age" />
                                        </div>
                                        <div class="form-group">
                                            <select id="ddlGender" class="form-control">
                                                <option selected>Gender</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                        <p class="text-white mb-0 position-absolute">Height</p>
                                        <ul class="nav nav-tabs navDefaultType  justify-content-end">
                                            <li class="nav-item">
                                                <a class="nav-link active pt-0 pb-0 pr-0 pl-3" id="centimeters-tab" data-toggle="tab" href="#centimeters" aria-selected="true"><span class="imgActive"></span> Feet &amp; Inches</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link pt-0 pb-0 pr-0 pl-3" id="feetInches-tab" data-toggle="tab" href="#feetInches" aria-selected="false"><span class="imgActive"></span> Centimeters</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="centimeters">
                                                <div class="row no-gutters">
                                                    <div class="col-6">
                                                        <div class="form-group pr-1">
                                                            <select id="ddlAuditfeet" class="form-control">
                                                                <option selected>Feet</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                                <option>6</option>
                                                                <option>7</option>
                                                                <option>8</option>
                                                                <option>9</option>
                                                                <option>10</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group pl-1">
                                                            <select id="ddlAuditInches" class="form-control">
                                                                <option selected>Inches</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                                <option>6</option>
                                                                <option>7</option>
                                                                <option>8</option>
                                                                <option>9</option>
                                                                <option>10</option>
                                                                <option>11</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="feetInches">
                                                <div class="row no-gutters">
                                                    <div class="col-12">
                                                        <div class="form-group pr-1">
                                                            <select id="ddlAuditCentemer" class="form-control">
                                                                <option selected>Centimeter</option>
                                                                <option>100</option>
                                                                <option>105</option>
                                                                <option>110</option>
                                                                <option>115</option>
                                                                <option>120</option>
                                                                <option>125</option>
                                                                <option>130</option>
                                                                <option>135</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="text-white mb-0 position-absolute">Weight</p>
                                        <ul class="nav nav-tabs navDefaultType  justify-content-end">
                                            <li class="nav-item">
                                                <a class="nav-link active pt-0 pb-0 pr-0 pl-3" id="kilograms-tab" data-toggle="tab" href="#kilograms" aria-selected="true"><span class="imgActive"></span> Kilograms</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link pt-0 pb-0  pr-0 pl-3" id="pounds-tab" data-toggle="tab" href="#pounds" aria-selected="false"><span class="imgActive"></span> Pounds</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="kilograms">
                                                <div class="row no-gutters">
                                                    <div class="col-6">
                                                        <div class="form-group pr-1">
                                                            <select id="inputState" class="form-control">
                                                                <option selected>Kilo</option>
                                                                <option>50</option>
                                                                <option>51</option>
                                                                <option>52</option>
                                                                <option>53</option>
                                                                <option>54</option>
                                                                <option>55</option>
                                                                <option>56</option>
                                                                <option>57</option>
                                                                <option>58</option>
                                                                <option>59</option>
                                                                <option>60</option>
                                                                <option>61</option>
                                                                <option>62</option>
                                                                <option>63</option>
                                                                <option>64</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group pl-1">
                                                            <select id="inputState" class="form-control">
                                                                <option selected>Grams</option>
                                                                <option>100</option>
                                                                <option>150</option>
                                                                <option>155</option>
                                                                <option>160</option>
                                                                <option>165</option>
                                                                <option>170</option>
                                                                <option>175</option>
                                                                <option>180</option>
                                                                <option>185</option>
                                                                <option>190</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pounds">
                                                <div class="row no-gutters">
                                                    <div class="col-12">
                                                        <div class="form-group pr-1">
                                                            <select id="inputState" class="form-control">
                                                                <option selected>Centimeter</option>
                                                                <option>100</option>
                                                                <option>101</option>
                                                                <option>102</option>
                                                                <option>103</option>
                                                                <option>104</option>
                                                                <option>105</option>
                                                                <option>106</option>
                                                                <option>107</option>
                                                                <option>108</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-right nextStepA">
                                            <a rel="adultSrcB" class="btn bg-sky hvr-sweep-to-top">FILL STEP 2</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="adultSrcB" style="display:none;">
                                    <form>
                                        <p class="text-white"><span class="bold">Step 2 :</span>Health Profile</p>

                                        <p class="semi mb-2">Do you suffer from any health issues?</p>

                                        <ul style="list-style-type:none;">
                                            <li>
                                                <input type="checkbox" id="chkAdbType" />Diabetes Type1

                                            </li>
                                            <li>
                                                <input type="checkbox" id="chkAdbType2" />Diabetes Type2

                                            </li>
                                            <li>
                                                <input type="checkbox" id="chkAThyroid" />Thyroid
                                            </li>
                                            <li>
                                                <input type="checkbox" id="chkAPCOS" />PCOS
                                            </li>
                                            <li>
                                                <input type="checkbox" id="chkAHypertension" />Hypertension or any heart related diseases
                                            </li>
                                            <li>
                                                <input type="checkbox" id="chkAGastrointestinal" />Gastrointestinal disorders
                                            </li>
                                            <li>
                                                <input type="checkbox" id="chkAOthers" />Any other
                                                <textarea rows="5" class="form-control" placeholder="Any other..."></textarea>
                                            </li>
                                        </ul>

                                        <div class="nextStepA d-flex justify-content-between">
                                            <a rel="adultSrcA" class="btn bg-purple hvr-sweep-to-top">BACK TO STEP 1</a>
                                            <a rel="adultSrcC" class="btn bg-sky hvr-sweep-to-top">FILL STEP 3</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="adultSrcC" style="display:none;">
                                    <form>
                                        <p class="text-white"><span class="bold">Step 3 :</span>Lifestyle</p>


                                        <p class="semi mb-2">Activity level:</p>

                                        <ul style="list-style-type:none;">
                                            <li>
                                                <input type="checkbox" id="chkAdSedentary" />Sedentary

                                            </li>
                                            <li>
                                                <input type="checkbox" id="chkAdLight" />Light Physical activity level

                                            </li>
                                            <li>
                                                <input type="checkbox" id="chkAdModerate" />Moderate physical activity level
                                            </li>
                                            <li>
                                                <input type="checkbox" id="chkAdHeavy" />Heavy Physical activity level
                                            </li>
                                        </ul>
                                        <p class="semi mb-2">Duration of sleep:</p>
                                        <select id="inputState" class="form-control">
                                            <option> < 6 hours</option>
                                            <option>7–8 hours</option>
                                            <option>10> hours</option>
                                        </select>


                                        <p class="semi mb-2">Water intake:</p>
                                        <ul class="nav nav-tabs navDefaultType  justify-content-end">
                                            <li class="nav-item">
                                                <a class="nav-link active pt-0 pb-0 pr-0 pl-3" id="Litters-tab" data-toggle="tab" href="#Litters" aria-selected="true"><span class="imgActive"></span> L</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link pt-0 pb-0  pr-0 pl-3" id="Glass-tab" data-toggle="tab" href="#Glass" aria-selected="false"><span class="imgActive"></span> Glass</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="Litters">
                                                <div class="row no-gutters">
                                                    <div class="col-6">
                                                        <div class="form-group pr-1">
                                                            <select id="inputState" class="form-control">
                                                                <option selected>Litter</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                                <option>6</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="Glass">
                                                <div class="row no-gutters">
                                                    <div class="col-12">
                                                        <div class="form-group pr-1">
                                                            <select id="inputState" class="form-control">
                                                                <option selected>Glass</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                                <option>6</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="semi mb-2">Exercise:</p>

                                        <ul class="nav nav-tabs navDefaultType  justify-content-end">
                                            <li class="nav-item">
                                                <a class="nav-link active pt-0 pb-0 pr-0 pl-3" id="AYes-tab" data-toggle="tab" href="#AYes" aria-selected="true"><span class="imgActive"></span> Yes</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link pt-0 pb-0  pr-0 pl-3" id="ANo-tab" data-toggle="tab" href="#ANo" aria-selected="false"><span class="imgActive"></span> No</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="AYes">
                                                <div class="row no-gutters">
                                                    <div class="col-6">
                                                        <div class="form-group pr-1">
                                                            <ul style="list-style-type:none;">
                                                                <li>
                                                                    <input type="checkbox" id="chkACardio" />Cardio

                                                                </li>
                                                                <li>
                                                                    <input type="checkbox" id="chkAdbType2" />Strength Training

                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="ANo">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <p class="semi mb-2">Duration:</p>
                                            <div class="row no-gutters">
                                                <div class="col-6">
                                                    <div class="form-group pr-1">
                                                        <select id="inputState" class="form-control">
                                                            <option selected>Hours</option>
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                            <option>6</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group pl-1">
                                                        <select id="inputState" class="form-control">
                                                            <option selected>Mins</option>
                                                            <option>10</option>
                                                            <option>15</option>
                                                            <option>20</option>
                                                            <option>25</option>
                                                            <option>30</option>
                                                            <option>35</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <p class="semi mb-2">How Often:</p>
                                            <div class="row no-gutters">
                                                <div class="col-6">
                                                    <div class="form-group pr-1">
                                                        <select id="inputState" class="form-control">
                                                            <option>daily</option>
                                                            <option>thrice a week</option>
                                                            <option>twice a week</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <p class="semi mb-2">Smoking:</p>
                                            <div class="row no-gutters">
                                                <div class="col-6">
                                                    <div class="form-group pr-1">
                                                        <select id="inputState" class="form-control">
                                                            <option>No</option>
                                                            <option>Yes</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <p class="semi mb-2">Alcohol:</p>
                                                <div class="row no-gutters">
                                                    <div class="col-6">
                                                        <div class="form-group pr-1">
                                                            <select id="inputState" class="form-control">
                                                                <option>No</option>
                                                                <option>Yes</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="nextStepA d-flex justify-content-between">
                                            <a rel="adultSrcB" class="btn bg-purple hvr-sweep-to-top">BACK TO STEP 2</a>
                                            <a rel="adultSrcD" class="btn bg-sky hvr-sweep-to-top">FILL STEP 4</a>

                                        </div>
                                    </form>
                                </div>
                                <div class="adultSrcD" style="display:none;">
                                    <form>
                                        <p class="text-white"><span class="bold">Step 4 :</span>Personal Details</p>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Email Adress" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Phone No." />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Location" />
                                        </div>
                                        <div class="nextStep d-flex justify-content-between mb-4">
                                            <a rel="adultSrcC" class="btn bg-purple hvr-sweep-to-top">BACK TO STEP 3</a>
                                            <button type="submit" onclick="SaveAdultData()" class="btn bg-sky hvr-sweep-to-top">SUBMIT FORM</a>
                                        </div>
                                        <div class="text-center">
                                            <p class="text-white"><span class="bold">Note:</span> <i>You will get an email from our within 24 working hours. for more details you can call us on XXXX XXXX</i></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="child">
                                <div class="childScrA">
                                    <p class="text-white"><span class="bold">Step 1 :</span> Personal Details and Anthropometry</p>
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Name" />
                                        </div>
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="Age" />
                                        </div>
                                        <div class="form-group">
                                            <select id="inputState" class="form-control">
                                                <option selected>Gender</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                        <p class="text-white mb-0 position-absolute">Height</p>
                                        <ul class="nav nav-tabs navDefaultType  justify-content-end">
                                            <li class="nav-item">
                                                <a class="nav-link active pt-0 pb-0 pr-0 pl-3" id="feetInches-tab" data-toggle="tab" href="#centimeters" aria-selected="true"><span class="imgActive"></span> Centimeters</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link pt-0 pb-0 pr-0 pl-3" id="centimeters-tab" data-toggle="tab" href="#feetInches" aria-selected="false"><span class="imgActive"></span> Feet &amp; Inches</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="centimeters">
                                                <div class="row no-gutters">
                                                    <div class="col-6">
                                                        <div class="form-group pr-1">
                                                            <select id="inputState" class="form-control">
                                                                <option selected>Feet</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                                <option>6</option>
                                                                <option>7</option>
                                                                <option>8</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group pl-1">
                                                            <select id="inputState" class="form-control">
                                                                <option selected>Inches</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                                <option>6</option>
                                                                <option>7</option>
                                                                <option>8</option>
                                                                <option>9</option>
                                                                <option>10</option>
                                                                <option>11</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="feetInches">
                                                <div class="row no-gutters">
                                                    <div class="col-12">
                                                        <div class="form-group pr-1">
                                                            <select id="inputState" class="form-control">
                                                                <option selected>Centimeter</option>
                                                                <option>100</option>
                                                                <option>105</option>
                                                                <option>110</option>
                                                                <option>115</option>
                                                                <option>120</option>
                                                                <option>125</option>
                                                                <option>130</option>
                                                                <option>135</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="text-white mb-0 position-absolute">Weight</p>
                                        <ul class="nav nav-tabs navDefaultType  justify-content-end">
                                            <li class="nav-item">
                                                <a class="nav-link active pt-0 pb-0 pr-0 pl-3" id="kilograms-tab" data-toggle="tab" href="#kilograms" aria-selected="true"><span class="imgActive"></span> Kilograms</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link pt-0 pb-0  pr-0 pl-3" id="pounds-tab" data-toggle="tab" href="#pounds" aria-selected="false"><span class="imgActive"></span> Pounds</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="kilograms">
                                                <div class="row no-gutters">
                                                    <div class="col-6">
                                                        <div class="form-group pr-1">
                                                            <select id="inputState" class="form-control">
                                                                <option selected>Kilo</option>
                                                                <option>50</option>
                                                                <option>51</option>
                                                                <option>52</option>
                                                                <option>53</option>
                                                                <option>54</option>
                                                                <option>55</option>
                                                                <option>56</option>
                                                                <option>57</option>
                                                                <option>58</option>
                                                                <option>59</option>
                                                                <option>60</option>
                                                                <option>61</option>
                                                                <option>62</option>
                                                                <option>63</option>
                                                                <option>64</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group pl-1">
                                                            <select id="inputState" class="form-control">
                                                                <option selected>Grams</option>
                                                                <option>150</option>
                                                                <option>151</option>
                                                                <option>152</option>
                                                                <option>153</option>
                                                                <option>154</option>
                                                                <option>155</option>
                                                                <option>156</option>
                                                                <option>157</option>
                                                                <option>158</option>
                                                                <option>159</option>
                                                                <option>160</option>
                                                                <option>161</option>
                                                                <option>162</option>
                                                                <option>163</option>
                                                                <option>164</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pounds">
                                                <div class="row no-gutters">
                                                    <div class="col-12">
                                                        <div class="form-group pr-1">
                                                            <select id="inputState" class="form-control">
                                                                <option selected>Centimeter</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                                <option>6</option>
                                                                <option>7</option>
                                                                <option>8</option>
                                                                <option>9</option>
                                                                <option>10</option>
                                                                <option>11</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-right nextStep">
                                            <a rel="childScrB" class="btn bg-sky hvr-sweep-to-top">FILL STEP 2</a>

                                        </div>
                                    </form>
                                </div>
                                <div class="childScrB">
                                    <form>
                                        <p class="semi mb-2">Does your child suffer from any health issues?</p>
                                        <ul class="nav nav-tabs navDefaultType mb-3">
                                            <li class="nav-item">
                                                <a class="nav-link active pt-0" id="centimeters-tab" data-toggle="tab" href="#centimeters" aria-selected="true"><span class="imgActive"></span> Yes</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link pt-0" id="feetInches-tab" data-toggle="tab" href="#feetInches" aria-selected="false"><span class="imgActive"></span> No</a>
                                            </li>
                                        </ul>
                                        <div class="form-group">
                                            <textarea rows="5" class="form-control" placeholder="Describe In Details..."></textarea>
                                        </div>
                                        <div class="nextStep d-flex justify-content-between">
                                            <a rel="childScrA" class="btn bg-purple hvr-sweep-to-top">BACK TO STEP 1</a>
                                            <a rel="childScrC" class="btn bg-sky hvr-sweep-to-top">FILL STEP 3</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="childScrC">
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Email Adress" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Phone No." />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="parent / Guardian Name" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Location" />
                                        </div>
                                        <div class="nextStep d-flex justify-content-between mb-4">
                                            <a rel="childScrB" class="btn bg-purple hvr-sweep-to-top">BACK TO STEP 2</a>
                                            <button type="submit" class="btn bg-sky hvr-sweep-to-top">SUBMIT FORM</a>
                                        </div>
                                        <div class="text-center">
                                            <p class="text-white"><span class="bold">Note:</span> <i>You will get an email from our within 24 working hours. for more details you can call us on XXXX XXXX</i></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col2rgtbgimg">
                            <img src="/img/img7.png" class="img-fluid" />
                        </div>
                        <div class="col2btmbgimg">
                            <img src="/img/img6.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/DevScript/Common.js"></script>

<script type="text/javascript">
    var SystemdropdownMasterData = [];
    /* $(document).ready(function () {
         LoadSystemMasterDropdown("ddlAge", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.Age, "");
         LoadSystemMasterDropdown("ddlKG", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.KG, "");
         LoadSystemMasterDropdown("ddlLB", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.LB, "");
         LoadSystemMasterDropdown("ddlAgeGroup", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.AgeGroup, "");
         LoadSystemMasterDropdown("ddlGender", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.Gender, "");
         LoadSystemMasterDropdown("ddlCity", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.City, "");
         LoadSystemMasterDropdown("ddlState", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.State, "");
         LoadSystemMasterDropdown("ddlCountry", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.Country, "");
         LoadSystemMasterDropdown("ddlfeet", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.Feet, "");
         LoadSystemMasterDropdown("ddlInch", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.Inch, "");
         LoadSystemMasterDropdown("ddlSmoke", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.Smoking, "");
         LoadSystemMasterDropdown("ddlAlcohol", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.Alcohol, "");

         LoadSystemMasterDropdown("ddlExcersice", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.Excersice, "");
         LoadSystemMasterDropdown("ddlExcersceType", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.ExcersceType, "");
         LoadSystemMasterDropdown("ddlExcersiceDuration", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.ExcersiceDuration, "");
         LoadSystemMasterDropdown("ddlDurationOften", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.DurationOften, "");
         LoadSystemMasterDropdown("ddlSleepDuration", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.SleepDuration, "");
         LoadSystemMasterDropdown("ddlChildHealthIsuue", SystemMasterTableEnum.SystemMaster, SystemMasterTableType.ChildHealthIsuue, "");
     }); */
    function SaveAdultData() {
        //alert("hello");
        debugger;
        var EnquiryModel = {
            Instance_enquiry: {
                //Enquiry_Id: $("#hdnID").val(),
                //FirstName: $("#txtFName").val(),
                //LastName: $("#txtLName").val(),
                //Contactnumber: $("#txtContactnumber").val(),
                //Email_ID: $("#txtEmailid").val(),
                //City: $("#ddlCity").val(),
                //State: $("#ddlState").val(),
                //Address1: $("#txtAddress1").val(),
                //Address2: $("#txtAddress2").val(),
                //Pin_Code: $("#txtPin").val(),
                //Country: $("#ddlCountry").val(),
                //AgeGroup: $("#ddlAgeGroup").val(),
                //UserId: "",
            },
            Instance_Enquiry_Transaction: []
        }
        var Enquiry = {
            //Enquiry_Id: $("#hdnID").val(),
            // FirstName: $("#txtFName").val(),
            // LastName: $("#txtLName").val(),
            // Contactnumber: $("#txtContactnumber").val(),
            // Email_ID: $("#txtEmailid").val(),
            // City: $("#ddlCity").val(),
            // State: $("#ddlState").val(),
            // Address1: $("#txtAddress1").val(),
            // Address2: $("#txtAddress2").val(),
            // Pin_Code: $("#txtPin").val(),
            // Country: $("#ddlCountry").val(),
            // AgeGroup: $("#ddlAgeGroup").val(),
            // UserId: $("#txtCountry").val(),
        }
        /*    var paramAge = { MasterTable_ID: SystemMasterTableType.Age, OptionValue:"" , MasterTableTypeId: $("#ddlAge").val() }
         var paramGender = { MasterTable_ID: SystemMasterTableType.Gender, OptionValue: "", MasterTableTypeId: $("#ddlGender").val() }
         var paramfeet = { MasterTable_ID: SystemMasterTableType.Feet, OptionValue: "", MasterTableTypeId: $("#ddlAuditFeet").val() }
         var paramInch = { MasterTable_ID: SystemMasterTableType.Inches, OptionValue: "", MasterTableTypeId: $("#ddlAuditInches").val() }

        var paramddlAuditCentemer = { MasterTable_ID: SystemMasterTableType.Inches, OptionValue: "", MasterTableTypeId: $("#ddlAuditCentemer").val() }

         var paramKG = { MasterTable_ID: SystemMasterTableType.KG, OptionValue:"", MasterTableTypeId: $("#ddlKG").val() }
         var paramLB = { MasterTable_ID: SystemMasterTableType.LB, OptionValue: "", MasterTableTypeId: $("#ddlLB").val() }

         var paramSmoke = { MasterTable_ID: SystemMasterTableType.Smoking, OptionValue: "", MasterTableTypeId: $("#ddlSmoke").val() }
         var paramAlcohol = { MasterTable_ID: SystemMasterTableType.Alcohol, OptionValue: "", MasterTableTypeId: $("#ddlAlcohol").val() }

         var paramExcersice = { MasterTable_ID: SystemMasterTableType.Excersice, OptionValue: "", MasterTableTypeId: $("#ddlExcersice").val() }
         var paramExcersceType = { MasterTable_ID: SystemMasterTableType.ExcersceType, OptionValue: "", MasterTableTypeId: $("#ddlExcersceType").val() }

         var paramExcersiceDuration = { MasterTable_ID: SystemMasterTableType.ExcersiceDuration, OptionValue: "", MasterTableTypeId: $("#ddlExcersiceDuration").val() }
         var paramDurationOften = { MasterTable_ID: SystemMasterTableType.DurationOften, OptionValue: "", MasterTableTypeId: $("#ddlDurationOften").val() }

         var paramSleepDuration = { MasterTable_ID: SystemMasterTableType.SleepDuration, OptionValue:"" , MasterTableTypeId: $("#ddlSleepDuration").val() }
         var paramChildHealthIsuue = { MasterTable_ID: SystemMasterTableType.ChildHealthIsuue, OptionValue:"", MasterTableTypeId: $("#ddlChildHealthIsuue").val() } */
        //alert("222");

        //EnquiryModel.Instance_enquiry.push(Enquiry)
        /*   EnquiryModel.Instance_Enquiry_Transaction.push(paramAge);
         EnquiryModel.Instance_Enquiry_Transaction.push(paramGender);
         EnquiryModel.Instance_Enquiry_Transaction.push(paramfeet);
         EnquiryModel.Instance_Enquiry_Transaction.push(paramInch);

       EnquiryModel.Instance_Enquiry_Transaction.push(paramKG);
         EnquiryModel.Instance_Enquiry_Transaction.push(paramLB);
         EnquiryModel.Instance_Enquiry_Transaction.push(paramSmoke);
         EnquiryModel.Instance_Enquiry_Transaction.push(paramAlcohol);
         EnquiryModel.Instance_Enquiry_Transaction.push(paramExcersice);
         EnquiryModel.Instance_Enquiry_Transaction.push(paramExcersceType);
         EnquiryModel.Instance_Enquiry_Transaction.push(paramExcersiceDuration);

         EnquiryModel.Instance_Enquiry_Transaction.push(paramDurationOften);
         EnquiryModel.Instance_Enquiry_Transaction.push(paramSleepDuration);
         EnquiryModel.Instance_Enquiry_Transaction.push(paramChildHealthIsuue); */
        //alert("333");

        // if (FieldValidation($("#ddlMasterTableType").val())) {
        CommonAjaxMethod('Home/Save', EnquiryModel, false, 'POST', function (response) {
            //DataBind($("#ddlMasterTableType").val());
        });
        // clearPage();
    }

</script>


