
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-sky">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 text-center pt-3 pb-2">
            <h2 class="semi text-white text-shadow">MY ACCOUNT</h2>
        </div>
    </div>
</div>
<div style="display:none;">
    <a id="SimulateOpenLink" href="#" target="_blank" rel="noopener noreferrer"></a>
</div>
<div class="container-fluid flowerBg">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-8">
            <div class="row justify-content-center align-items-center middleContent">
                <div class="col-12 col-md-5 col-lg-5 d-flex align-items-center loginScreen">
                    <div>
                        <img src="@CommonMethods.ServerPath/img/lock.png" class="img-fluid mb-5" />
                        <h2 class="semi">LOGIN</h2>
                        <p>Get access to your eating smart tools, chat section, assessment, trackers & much more!</p>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-7 d-flex align-items-center loginForm">
                    <form>
                        <div class="form">
                            <div class="col-12 col-md-12 form-group">
                                <input type="text" class="form-control border" id="txtEmail" maxlength="200" placeholder="Enter Email/Mobile number">
                            </div>
                            <div class="col-12 col-md-12 form-group">
                                <input type="password" class="form-control border" id="txtPassword" maxlength="15"  placeholder="Enter Password">
                            </div>
                            <div class="col-12 col-md-12 form-group">
                                <a class="btn btn-reg mb-2 hvr-sweep-to-top btn-block rounded-0" onclick="Login()">&nbsp; &nbsp; Login &nbsp; &nbsp; </a>
                            </div>
                            <div class="col-12 col-md-12 form-group">
                                <p><a href="~/Home/register" class="text-dark"><small>New to Eating Smart? <u>Create an account</u></small></a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function Login()
    {
        var email = $('#txtEmail').val();
        var password = $('#txtPassword').val();
        if (!email || email == '' || !password || password == '')
        {
           alert("Please enter your email/Mobile and password.");
           return false;
        }

        $.ajax({
            url: virtualPath + 'User/Token',
            method: 'POST',
            data: {
                username: email,
                password: password
            },
            success: function (response)
            {

                if (response.ErrorMessage == null)
                {
                    if (response.data.EmployeeName!= null)
                    {

                        sessionStorage.setItem('authToken', response.data.authToken);
                        sessionStorage.setItem('userId', response.data.userId);
                        sessionStorage.setItem('EmployeeName', response.data.EmployeeName);
                        sessionStorage.setItem('RoleID', response.data.RoleID);

                        if (response.data.RoleID == "3" || response.data.RoleID == "2")
                        {
                            window.location.href = "@Url.Action("AdminView", "Home")";
                        }
                        else
                            {
                                if (sessionStorage.getItem("CartProgramID") != null)
                                {
                                     window.location.href = "@Url.Action("Payments", "Home")";
                                }
                                else
                                {
                                    window.location.href = "@Url.Action("assessment", "Home")";
                                }
                        }
                    }
                    else
                    {
                        alert("The user name or password is incorrect.");
                    }


                }
                else {

                    alert(response.ErrorMessage);

                }
            },
            error: function (jqXHR)
            {
                alert(jqXHR);
            }
        });
    }

</script>
