
@{
    ViewBag.Title = "MyEatingPattern";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/tinymce.min.js"></script>
@*<div class="container-fluid pl-0 pr-0">
    <div class="row no-gutters banner eatingSmartToolsBanner align-items-center">
        <div class="col-12 text-center">
            <h2 class="bold mb-0 text-white">MY EATING PATTERN </h2>
        </div>
    </div>
</div>*@
<div class="bg-yellow">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <ul class="list-inline menu-sec">
                    <li class="list-inline-item"><a href="~/Home/assessment">My Assessment Tool</a></li>
                    <li class="list-inline-item"><a href="~/Home/tracker">My Trackers</a></li>
                    <li class="list-inline-item"><a href="">My Eating Smart Tool</a></li>
                    <li class="list-inline-item"><a href="~/Home/MyEatingPattern">My Eating Pattern</a></li>
                    <li class="list-inline-item"> <a href="#" onclick="MessageHelp(this)">Admin Messages<span class="float-right d-none d-md-block" id="spMessage"></span></a></li>

                    <li class="list-inline-item"><a href="~/Home/ViewPlan">View Plans</a></li>
                    <li class="list-inline-item active"><a onclick="Logout(this)">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid flowerBg">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow">
       
            <form class="form-data" id="adminform"  style="display:none;">
             



                @*-------------uday Start---------------------*@
                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">On Rising</p>
                        <hr class="mt-0 mb-4 bg-dark" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtOnRising"></textarea>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Pre Break Fast</p>
                        <hr class="mt-0 mb-4 bg-dark" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtPreBreak"></textarea>
                </div>


                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Break Fast</p>
                        <hr class="mt-0 mb-4 bg-dark" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtBreak"></textarea>
                </div>


                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Mid Morning</p>
                        <hr class="mt-0 mb-4 bg-dark" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtMidMorning"></textarea>
                </div>

                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Pre Workout</p>
                        <hr class="mt-0 mb-4 bg-dark" />
                    </div>
                </div>

                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtPreWorkout"></textarea>
                </div>

                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">During Workout</p>
                        <hr class="mt-0 mb-3 bg-dark" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtDuringWorkout"></textarea>
                </div>

                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Pre Lunch</p>
                        <hr class="mt-0 mb-4 bg-dark" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtPreLunch"></textarea>
                </div>



                @*<%-- uday-->*@
                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Lunch</p>
                        <hr class="mt-0 mb-3 bg-dark" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtLunch"></textarea>
                </div>


                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Tea Evening</p>
                        <hr class="mt-0 mb-3 bg-dark" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtTeaEvening"></textarea>
                </div>


                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Late Evening</p>
                        <hr class="mt-0 mb-3 bg-dark" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtLateEvening"></textarea>
                </div>


                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Pre Dinner</p>
                        <hr class="mt-0 mb-3 bg-dark" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtPreDinner"></textarea>
                </div>


                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Dinner</p>
                        <hr class="mt-0 mb-3 bg-dark" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtDinner"></textarea>
                </div>


                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Post Dinner</p>
                        <hr class="mt-0 mb-3 bg-dark" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtPostDinner"></textarea>
                </div>


                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Bed Time</p>
                        <hr class="mt-0 mb-3 bg-dark" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtBedTime"></textarea>
                </div>


                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Recipes</p>
                        <hr class="mt-0 mb-3 bg-dark" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtRecipes"></textarea>
                </div>


                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Notes</p>
                        <hr class="mt-0 mb-3 bg-dark" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="10" class="form-control" id="txtNotes"></textarea>
                </div>
                <div class="text-right" id="divButtonShowHide">
                    <a href="#" class="btn btn-reg mb-2 hvr-sweep-to-top" onclick="Clear()">&nbsp; &nbsp; Clear &nbsp; &nbsp; </a>
                    <a href="#" class="btn btn-reg mb-2 hvr-sweep-to-top" id="btnSaveOnRising" onclick="SaveEatingPattern(0)">&nbsp; &nbsp; Save Draft&nbsp; &nbsp; </a>
                    <a href="#" class="btn btn-reg mb-2 hvr-sweep-to-top" id="btnSubmitOnRising" onclick="SaveEatingPattern(1)">&nbsp; &nbsp; Submit &nbsp; &nbsp; </a>

                </div>

                @*--------------------*@
            </form>
                <form class="form-data" id="userform" style="display:none;">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">On Rising</p>
                            <hr class="mt-0 mb-4 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                    
                        <div rows="10" class="form-control" id="divOnRising"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Pre Break Fast</p>
                            <hr class="mt-0 mb-4 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div rows="10" class="form-control" id="divPreBreak"></div>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Break Fast</p>
                            <hr class="mt-0 mb-4 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div rows="10" class="form-control" id="divBreak"></div>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Mid Morning</p>
                            <hr class="mt-0 mb-4 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div rows="10" class="form-control" id="divMidMorning"></div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Pre Workout</p>
                            <hr class="mt-0 mb-4 bg-dark" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div rows="10" class="form-control" id="divPreWorkout"></div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">During Workout</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div rows="10" class="form-control" id="divDuringWorkout"></div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Pre Lunch</p>
                            <hr class="mt-0 mb-4 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div rows="10" class="form-control" id="divPreLunch"></div>
                    </div>



                    @*<%-- uday-->*@
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Lunch</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div rows="10" class="form-control" id="divLunch"></div>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Tea Evening</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div rows="10" class="form-control" id="divTeaEvening"></div>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Late Evening</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div rows="10" class="form-control" id="divLateEvening"></div>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Pre Dinner</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div rows="10" class="form-control" id="divPreDinner"></div>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Dinner</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div rows="10" class="form-control" id="divDinner"></div>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Post Dinner</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div rows="10" class="form-control" id="divPostDinner"></div>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Bed Time</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div rows="10" class="form-control" id="divBedTime"></div>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Recipes</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div rows="10" class="form-control" id="divRecipes"></div>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Notes</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div rows="10" class="form-control" id="divNotes"></div>
                    </div>
                </form>
</div>
        </div>
    </div>
</div>


<script>
    tinymce.init({ selector: "textarea" });
</script>

<script>

    
   
    window.onload = function ()
    {        
        
        if (sessionStorage.getItem('RoleID') == "1")
        {            
            $("#userform").show();
            $("#adminform").hide();
        }
        if (sessionStorage.getItem('RoleID') == "3" || sessionStorage.getItem('RoleID') == "2") {

            $("#userform").hide();
            $("#adminform").show();
        }
        if (sessionStorage.getItem('ProductId') == "0")
        {
            $("#divButtonShowHide").hide();
        }
        else
        {
           

            CommonAjaxMethod('Program/GetEatingPattern', {userId:sessionStorage.getItem("userId"),orderId: sessionStorage.getItem('OrderId'),productId:sessionStorage.getItem('ProductId')}, false, 'GET', function (response) 
            {

                if (sessionStorage.getItem('RoleID') == "1")
                {
                    $("#userform").show();
                    $("#adminform").hide();

                    if (response.dataCollection.length > 0) 
                    {
                        $('#divOnRising').html(response.dataCollection[0].OnRising);
                        $('#divOnRising').html(response.dataCollection[0].OnRising);
                        $('#divPreBreak').html(response.dataCollection[0].PreBreakfast);
                        $('#divBreak').html(response.dataCollection[0].Breakfast);
                        $('#divMidMorning').html(response.dataCollection[0].MidMorning);
                        $('#divPreWorkout').html(response.dataCollection[0].PreWorkout);
                        $('#divDuringWorkout').html(response.dataCollection[0].DuringWorkout);
                        $('#divPreLunch').html(response.dataCollection[0].PreLunch);
                        $('#divLunch').html(response.dataCollection[0].Lunch);
                        $('#divTeaEvening').html(response.dataCollection[0].TeaEvening);
                        $('#divLateEvening').html(response.dataCollection[0].LateEvening);
                        $('#divPreDinner').html(response.dataCollection[0].PreDinner);
                        $('#divDinner').html(response.dataCollection[0].Dinner);
                        $('#divPostDinner').html(response.dataCollection[0].PostDinner);
                        $('#divBedTime').html(response.dataCollection[0].BedTime);
                        $('#divRecipes').html(response.dataCollection[0].Recipes);
                        $('#divNotes').html(response.dataCollection[0].Notes);
                    }
                }
                if (sessionStorage.getItem('RoleID') == "3" || sessionStorage.getItem('RoleID') == "2")
                {

                    $("#userform").hide();
                    $("#adminform").show();

                    if (response.dataCollection.length > 0) {
                        tinymce.get('txtOnRising').setContent(response.dataCollection[0].OnRising);
                        tinymce.get('txtOnRising').setContent(response.dataCollection[0].OnRising);
                        tinymce.get('txtPreBreak').setContent(response.dataCollection[0].PreBreakfast);
                        tinymce.get('txtBreak').setContent(response.dataCollection[0].Breakfast);
                        tinymce.get('txtMidMorning').setContent(response.dataCollection[0].MidMorning);
                        tinymce.get('txtPreWorkout').setContent(response.dataCollection[0].PreWorkout);
                        tinymce.get('txtDuringWorkout').setContent(response.dataCollection[0].DuringWorkout);
                        tinymce.get('txtPreLunch').setContent(response.dataCollection[0].PreLunch);
                        tinymce.get('txtLunch').setContent(response.dataCollection[0].Lunch);
                        tinymce.get('txtTeaEvening').setContent(response.dataCollection[0].TeaEvening);
                        tinymce.get('txtLateEvening').setContent(response.dataCollection[0].LateEvening);
                        tinymce.get('txtPreDinner').setContent(response.dataCollection[0].PreDinner);
                        tinymce.get('txtDinner').setContent(response.dataCollection[0].Dinner);
                        tinymce.get('txtPostDinner').setContent(response.dataCollection[0].PostDinner);
                        tinymce.get('txtBedTime').setContent(response.dataCollection[0].BedTime);
                        tinymce.get('txtRecipes').setContent(response.dataCollection[0].Recipes);
                        tinymce.get('txtNotes').setContent(response.dataCollection[0].Notes);
                    }
                }
               

            });
        }
    };

    function Logout(ctrl) {
        sessionStorage.clear();
        ctrl.href = '@Url.Content("~/Home/Logout")';
        ctrl.click();
    }
    function MessageHelp(ctrl) {
        var selectedUserId = sessionStorage.getItem('SelectedUserId');
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        ctrl.href = '@Url.Content("~/Home/helpDesk?userId=")' + selectedUserId;
        ctrl.click();
    }   
    function SaveEatingPattern(varsubmit) {       
       
    var UserEatingPattern =
    {
       
            UserId: sessionStorage.getItem("userId"),
            ProductId:sessionStorage.getItem('ProductId'),
            OrderId: sessionStorage.getItem('OrderId'),
            OnRising: tinymce.get('txtOnRising').getContent() ,            
            PreBreakfast: tinymce.get('txtPreBreak').getContent() ,            
            Breakfast: tinymce.get('txtBreak').getContent(),           
            //PreBreakfast: "2",
            //Breakfast:"3",
            MidMorning: tinymce.get('txtMidMorning').getContent() ,            
            PreWorkout: tinymce.get('txtPreWorkout').getContent(),            
            DuringWorkout: tinymce.get('txtDuringWorkout').getContent() ,
            
            PreLunch: tinymce.get('txtPreLunch').getContent() ,            
            Lunch: tinymce.get('txtLunch').getContent() ,            
            TeaEvening: tinymce.get('txtTeaEvening').getContent() ,            
            LateEvening: tinymce.get('txtLateEvening').getContent(),           
            PreDinner: tinymce.get('txtPreDinner').getContent() ,         
            Dinner: tinymce.get('txtDinner').getContent() ,            
            PostDinner: tinymce.get('txtPostDinner').getContent(),           
            BedTime: tinymce.get('txtBedTime').getContent(),            
            Recipes: tinymce.get('txtRecipes').getContent() ,            
            Notes: tinymce.get('txtNotes').getContent() ,
            IsSubmit: varsubmit,
            IsActive: 1,

        }
      
        var eatingpattern =
        {
            TableType: "EatingPattern",
            UserId: sessionStorage.getItem('userId'),
            IsSubmit: varsubmit,
            UserEatingPattern: UserEatingPattern
        }

        CommonAjaxMethod('Program/SaveEatingPattern', eatingpattern, false, 'POST', function (response) {
        alert('Record save successfully!!!');
    });

    }

    function SubmitEatingPattern()
    {
    }
</script>

