
@{
    ViewBag.Title = "payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>payments</h2>*@

<div>
    <div class="container-fluid bg-sky">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text-center pt-3 pb-2">
                <h2 class="semi text-white text-shadow">payments</h2>
            </div>
        </div>
    </div>
</div>

<div class="bg-yellow">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <ul class="list-inline menu-sec">
                    <li class="list-inline-item"><a href="~/Home/assessment">My Assessment Tool</a></li>
                    <li class="list-inline-item"><a href="~/Home/tracker">My Trackers</a></li>
                    <li class="list-inline-item"><a href="">My Eating Smart Tool</a></li>
                    <li class="list-inline-item"><a href="~/Home/eatingPattern">My Eating Pattern</a></li>
                    <li class="list-inline-item"><a href="~/Home/helpDesk">Admin Messages</a></li>
                    <li class="list-inline-item"><a href="#">Payments</a></li>
                    <li class="list-inline-item active"><a href="~/Home/Logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid flowerBg">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow">
                <form class="form-data">

                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Payment</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                            <input type="hidden" id="hdnTotalDoller" />
                            <input type="hidden" id="hdnTotalINR" />
                        </div>
                    </div>
                    <div>
                        <table class="table" id="tblPayment"></table>
                    </div>
                    <div class="form-group row">
                        @*<div class="col-12 col-md-12">
                                <hr class="mt-0 mb-3 bg-dark" />
                            </div>*@
                        <div class="col-12 col-sm-12 text-right">
                            <a class="btn btn-reg mb-4 hvr-sweep-to-top" id="btnPayment"  href="~/Home/Payementoption"  target="_blank">&nbsp; &nbsp; Payment &nbsp; &nbsp; </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<script src="~/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        var strProductId = sessionStorage.getItem("CProgramID");

        CommonAjaxMethod('Program/GetCartProduct', { Id: strProductId }, false, 'GET',
            function (response) {
                var intINR = 0;
                var intDoller = 0;

                if (response.data.Data.length > 0) {

                    $('#tblPayment').append("<tbody><tr bgcolor='#f4a800'><th >Program Name   </th><th >Duration   </th><th>₹    </th><th>$     </th></tr></tbody>");
                    // $('#tblPayment').append("<tbody>");

                    for (var i = 0; i < response.data.Data.length; i++) {
                        $('#tblPayment').append("<tr>");
                        $('#tblPayment').append("<td>" + response.data.Data[i].Program + "</td>");
                        $('#tblPayment').append("<td>" + response.data.Data[i].ProductName + "</td>");
                        $('#tblPayment').append("<td>" + response.data.Data[i].INRRate + "</td>");
                        $('#tblPayment').append("<td>" + response.data.Data[i].DollerRate + "</td>");
                        $('#tblPayment').append("</tr></br>");

                        $('#tblPayment').append("<tbody>");

                        intINR = parseFloat(intINR) + parseFloat(response.data.Data[i].INRRate);
                        intDoller = parseFloat(intDoller) + parseFloat(response.data.Data[i].DollerRate);

                    }

                    $('#tblPayment').append("<tr>");
                    $('#tblPayment').append("<td><b>" + "Total" + "</b></td>");
                    $('#tblPayment').append("<td><b>" + "" + "</b></td>");
                    $('#tblPayment').append("<td><b>" + intINR + "</b></td>");
                    $('#tblPayment').append("<td><b>" + intDoller + "</b></td>");
                    $('#tblPayment').append("</tbody>");
                    $('#tblPayment').append("</tr>");
                    $('#hdnTotalDoller').val(intDoller);
                    $('#hdnTotalINR').val(intINR);
                    


                }
            }
        );

    })


</script>