
@{
    ViewBag.Title = "payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center paymentPg">
        <div class="col-12 col-md-11 col-lg-10">
            <div class="middleContent bg-gray shadow">
                <p class="semi mb-2 text-yellow">Payment</p>
                <hr class="mt-0 mb-3 bg-dark">
               
                <form class="form-data">
                    <table class="table" id="tblPayment">                       
                    </table>

                    <div class="row">
                        <div class="col-12 col-sm-12">
                            Total Amount to Pay
                        </div>
                        <div class="col-12 col-sm">
                            Promo Code:
                            <input type="text" class="form-control border" id="txtCoupon" placeholder="Coupon" maxlength="50" />

                            <a class="btn btn-reg mt-4 mb-4 hvr-sweep-to-top" id="btnCoupon" onclick="return ApplyCoupon()" href="#">&nbsp; &nbsp; Apply Promo Code &nbsp; &nbsp; </a>
                        </div>
                        <div class="col-12 col-sm">
                            INR Amount:
                            <input type="text" class="form-control border" id="txtINR" readonly="readonly" />
                        </div>
                        <div class="col-12 col-sm">
                            Doller Amount:
                            <input type="text" class="form-control border" id="txtDoller" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row">

                    </div>
                    <div class="form-group row">

                        <div class="col-12 col-sm-12 text-right">
                            <input type="hidden" id="hdnTotalINR" />
                            <input type="hidden" id="hdnTotalDoller" />
                            <input type="hidden" id="hdnOrderId" />
                            <input type="hidden" id="hdnUserId" />
                            <input type="hidden" id="hdnCoupon" />                           
                            <input type="hidden" id="hdnCouponId" />

                            <a class="btn btn-reg mb-4 hvr-sweep-to-top" id="btnPayment" href="#" onclick="RedirectToPayment(this)" target="_blank">&nbsp; &nbsp; Payment &nbsp; &nbsp; </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript">

    

    function RedirectToPayment(ctrl) {

        ctrl.href = '@Url.Content("~/Home/PaymentOption?Id=")' + $("#hdnTotalDoller").val() + '&OrderId=' + $("#hdnOrderId").val() + '&UserId=' + $("#hdnUserId").val() + '&Type=P&Cop=' + $("#hdnCoupon").val()+'&INR='+ $("#hdnTotalINR").val();

        ctrl.click();
    }
    function ProceedToPayment()
    {

    }
    function ApplyCoupon()
    {
        var cou = $("#txtCoupon").val();
        if (cou != "")
        {
            CommonAjaxMethod('Program/GetCoupan', { coupan: cou }, false, 'GET',
                       function (response) {
                           if (response.dataCollection.length > 0)
                           {
                               var cINRAmount = $("#txtINR").val();
                               var cDolleramount = $("#txtDoller").val();


                               var UpdateOrderDetailsForUser = {
                                   OrderAmountINR:(cINRAmount - response.dataCollection[0].Amount),
                                   OrderAmountDoller:(cDolleramount - response.dataCollection[0].DollerAmount),
                                   Order_Id: sessionStorage.getItem("OrderId"),
                                   UserId: sessionStorage.getItem("userId"),
                                   CoupenId: response.dataCollection[0].CoupenId,
                              }

                               CommonAjaxMethod('Home/UpdateOrderDetailsForUser', UpdateOrderDetailsForUser, false, 'POST',
                              function (resp)
                              {
                                  $("#txtINR").val((cINRAmount - response.dataCollection[0].Amount));
                                  $("#txtDoller").val((cDolleramount - response.dataCollection[0].DollerAmount));

                                  sessionStorage.setItem("TotalDoller", $("#txtDoller").val());
                                  sessionStorage.setItem("TotalINR", $("#txtINR").val());
                                  sessionStorage.setItem("CouponId", response.dataCollection[0].CoupenId);

                                  $("#hdnTotalINR").val((cINRAmount - response.dataCollection[0].Amount));
                                  $("#hdnTotalDoller").val((cDolleramount - response.dataCollection[0].DollerAmount));                                 
                                  $("#hdnCoupon").val(response.dataCollection[0].CoupenId);


                                  alert("Your coupon is applied.");
                              });

                           }
                           else {
                               alert("Please enter valid coupon.");
                           }
                       });
        }

    }
    $(document).ready(function () {

      
       

        var strProductId = sessionStorage.getItem("CProgramID");
        var orderId = "";
        var totalCartDetailsLength = 0;
        CommonAjaxMethod('Program/GetCartProduct', { Id: strProductId }, false, 'GET',
            function (response) {
                var intINR = 0;
                var intDoller = 0;

                if (response.data.Data.length > 0) {

                    OrderId = response.data.Data[0].OrderId;
                    totalCartDetailsLength = response.data.Data.length;
                    $('#tblPayment').append("<tbody><tr bgcolor='#f4a800'><th class='semi mb-2 text-white' >Program Name   </th><th class='semi mb-2 text-white' >Duration   </th><th class='semi mb-2 text-white'>₹    </th><th class='semi mb-2 text-white'>$     </th></tr></tbody>");
                    // $('#tblPayment').append("<tbody>");

                    for (var i = 0; i < response.data.Data.length; i++)
                    {
                        var strhiddenFiled = '<input type="hidden" id="hdnTotalINR"' + response.data.Data[i].Program_Id + ' />';
                        $('#tblPayment').append("<tr>");
                        $('#tblPayment').append("<td>" + strhiddenFiled + response.data.Data[i].Program + "</td>");
                        $('#tblPayment').append("<td>" + response.data.Data[i].ProductName + "</td>");
                        $('#tblPayment').append("<td>" + response.data.Data[i].INRRate + "</td>");
                        $('#tblPayment').append("<td>" + response.data.Data[i].DollerRate + "</td>");
                        $('#tblPayment').append("</tr></br>");

                        $('#tblPayment').append("<tbody>");

                        intINR = parseFloat(intINR) + parseFloat(response.data.Data[i].INRRate);
                        intDoller = parseFloat(intDoller) + parseFloat(response.data.Data[i].DollerRate);

                    }

                    $('#tblPayment').append("<tr>");
                    $('#tblPayment').append("<td><b>" + "Total" + "</b></td>");
                    $('#tblPayment').append("<td><b>" + "" + "</b></td>");
                    $('#tblPayment').append("<td><b>" + intINR.toFixed(2) + "</b></td>");
                    $('#tblPayment').append("<td><b>" + intDoller.toFixed(2) + "</b></td>");
                    $('#tblPayment').append("</tbody>");
                    $('#tblPayment').append("</tr>");
                    sessionStorage.setItem("TotalDoller", intDoller.toFixed(2));
                    sessionStorage.setItem("TotalINR", intINR);
                    sessionStorage.setItem("OrderId", OrderId);
                    sessionStorage.setItem("CartSession", "");
                    sessionStorage.setItem("CartProgramID", "");
                    $("#hdnTotalINR").val(intINR);
                    $("#hdnTotalDoller").val(intDoller.toFixed(2));
                    $("#hdnOrderId").val(OrderId);
                    $("#hdnUserId").val(sessionStorage.getItem("userId"));
                    $("#hdnCoupon").val(intINR);
                  

                    $("#txtINR").val(intINR);
                    $("#txtDoller").val(intDoller.toFixed(2));


                }
            }
        );

    })

    function Logout(ctrl)
    {
        sessionStorage.clear();
        ctrl.href = '@Url.Content("~/Home/Logout")';
        ctrl.click();
    }
</script>