﻿
@{
    ViewBag.Title = "privacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid pl-0 pr-0 mb-5">

    <div class="row no-gutters banner privacyPolicyBanner justify-content-center align-items-center">

        <div class="col-12 dib text-center">

            <div class="d-none d-md-block">

                <h2 class="bold mb-0">Terms &amp; Privacy Policy</h2>

            </div>

            <div class="d-block d-md-none banner-xs">

                <img src="@CommonMethods.ServerPath/img/banner/privacyPolicy-xs.jpg" alt="" class="img-fluid" />

            </div>

        </div>

    </div>

</div>


<div class="container">

    <div class="row justify-content-center">

        <div class="col-12 col-md-11 col-lg-10 text-center">

            <p>Our Policies are agreeable with the United States and Indian General Data Protection Regulation. According to the strategies of the General Data Protection Regulation, you as a client have more command over your own information, therefore making your experience sheltered and secure.</p>

            <h3 class="text-sky mt-5 mb-2">TERMS OF USE & PRIVACY POLICIES</h3>

            <p>This user arrangement ("Agreement") is an understanding among you and M/s Eating Smart with Sidra Patel ("Eating Smart with Sidra Patel" or "we" or "us" as the setting requires) governing your utilization of Eating Smart with Sidra Patel's site: www.eatingsmart.in or potentially any of its administrations. By getting to the site www.eatingsmart.in at your sole attentiveness, enlisting and utilizing our administrations as a visitor/guest or as an enrolled part, you concur that you are limited by this Agreement and all the terms referenced. This client agreement regulates your admittance to the site any/the entirety of the services offered by M/s Eating Smart with Sidra Patel and will apply to all the clients, guests and the ones who access the utilization of this site www.eatingsmart.in and any of our administrations. In the event that you disagree with the terms and conditions referenced in this agreement then you should quit utilizing our site www.eatingsmart.in and all/any of our administrations quickly and in the event that you actually keep utilizing this site, at that point Eating Smart with Sidra Patel will not be subject for any results, misfortune, harm and obligation emerging from this unapproved use. By going into this agreement, you confirm that you are completely ready to and skilled according to law to abide by this Agreement and to maintain all of its terms and conditions, commitments and to additionally conform to this agreement. You further concur that you as an individual are not banished by law to go into an official arrangement and that you consent to utilize site www.eatingsmart.in in consistence with nearby, public and worldwide laws and guidelines. We claim an authority to re-examine and revise these terms of utilization and Privacy Policies at some random purpose of time by correcting this page and giving data about the refreshed approaches. These terms of utilization will be posted on the site and you as a client are relied upon to check this page every now and then and observe the progressions we make, as they are authoritative on you as a client. All the adjustments in the provisions of utilization are powerful when they are distributed on the site www.eatingsmart.in and you consent to be limited by the overhauled terms and states of utilization and all the security arrangements.</p>

            <p class="semi mt-5 mb-2">TERMS AND CONDITIONS</p>

            <p>By subscribing to our services you acknowledge and consent to these terms and conditions ("Terms"). It is subsequently significant that you read through all the terms and conditions cautiously. You ought to not enrol with us or any of our administrations in the event that you don't agree to these terms and conditions.</p>

            <p class="semi mt-5 mb-2">USE OF OUR SERVICES</p>

            <p class="mb-4">Eating Smart with Sidra Patel is an assistance created and given by M/s Eating Smart with Sidra Patel. Services provided by M/s Eating Smart with Sidra Patel are accessible online through our site www.eatingsmart.in. The reason for Eating Smart with Sidra Patel is to give you wholesome and wellbeing data. These administrations are accessible for your own utilization and isn't intended for business use. By providing consent to the utilization of services of M/s Eating Smart with Sidra Patel and to its terms referenced you concur that</p>

            <ol class="text-left">

                <li class="mb-2">You shall give your precise individual information.</li>

                <li class="mb-2">Your enrolment/membership with M/s Eating Smart with Sidra Patel is of an individual sort and will not be moved to any other person. </li>

                <li class="mb-2">Eating Smart with Sidra Patel will be approved to eliminate client material from the administration as well as client account in the event that it is discovered to be improper. </li>

                <li class="mb-2">You will be liable for putting away your login qualifications securely in order to forestall abuse of your record. </li>

                <li class="mb-2">M/s Eating Smart with Sidra Patel shall not be liable for misfortune or harm brought about by unapproved access or login of your record. You shall inform M/s Eating Smart with Sidra Patel quickly in the event that you presume unapproved access or login of your record. </li>

                <li class="mb-2">You will not participate in any illicit or unlawful exercises on the site www.eatingsmart.in, for example, presenting or contributing on any data that may contain or include impelling, erotic entertainment, slander, kid porn, racial disdain and so forth </li>

                <li class="mb-2">You will not add to any religious or political perspectives or any type of purposeful publicity. </li>

                <li class="mb-2">You will not share some other individual's very own data.</li>

            </ol>

            <p>Infringement of any of the terms of M/s Eating Smart with Sidra Patel will prompt end of your client record and services.</p>

            <p class="semi mt-5 mb-2">INFORMATION ABOUT PERSONAL DATA WE COLLECT</p>

            <p>This section educates you concerning how we at M/s Eating Smart with Sidra Patel utilize the individual data gathered on our site www.eatingsmart.in. At the point when you register with our administrations or information exchange on our site www.eatingsmart.in we gather your own information (general data) at the hour of enrolment like your first name, last name, versatile number, email address, postal location, nation of habitation, geo-area, IP address, tallness, weight, date of birth (dd/mm/yyyy), sex, ailment, medical problems, body estimation, smoking , alcohol habits, physical activity, water intake, dietary patterns and so forth. Based on the data inputs by you M/s Eating Smart with Sidra Patel provides the client with his/her Body Mass Index, health rating and weight report. You (the client) can pick if to furnish us with data however you will most likely be unable to enrol yourself or use all the highlights except if certain data is given by you. The data you give to M/s Eating Smart with Sidra Patel is utilized to satisfy your particular solicitations. By agreeing to our terms and conditions you likewise assent the utilization of data given by you to send you emails, instant messages to update you on most recent offers, strategy changes and so forth. To find out about Eating Smart with Sidra Patel's information security rehearses, kindly read our protection strategy referenced beneath. This approach discloses to you concerning how your own data is treated by M/s Eating Smart with Sidra Patel and how M/s Eating Smart with Sidra Patel secures your protection when you utilize its services.</p>

            <p class="semi mt-5 mb-2">USE OF SUBSCRIBED SERVICES</p>

            <p>Certain sections of our website www.eatingsmart.in are accessible just to such people who buy our services that are accessible on our Website www.eatingsmart.in. These administrations are alluded to as Subscribed Services in this Agreement. As an endorser of the Subscribed Services, you concur:</p>

            <ol class="text-left">

                <li class="mb-2">To pay for in a convenient way any fixed and intermittent charges and expenses needed for the subscribed services alongside any applicable government charges. Except if instalments as required are not got by M/s Eating Smart with Sidra Patel, the Subscribed Services will not be accessible to you. M/s Eating Smart with Sidra Patel will not be liable for any non-receipt of charges because of any flaws in payment gateway, internet connection or postal postponements. Every service subscribed must be consumed within the set days provisioned and mentioned clearly on the program page. The validity period for a 10 days program is 15 days, 1 month (30 days) program is 45 days, the validity period for 2 months (60 days) program is 75 days, for 3 months (90 days) program is 105 days and 6 months (180 days) program is 200 days and no further extensions shall be granted beyond the program validity under any circumstance/s. The eating routine plans given to the client by M/s Eating Smart with Sidra Patel will be accessible/obvious in the Accounts segment until the legitimacy time of the program. The client has the choice to spare or print the equivalent until the legitimacy of the program. M/s Eating Smart with Sidra Patel will not be dependable if the client can't print the eating routine arrangement bought in for at all explanation/s during the legitimacy of the program and will assist not be qualified for request a duplicate after the validity of the program. M/s Eating Smart with Sidra Patel claims all authority to build charges and expenses, or to organize new charges or expenses whenever, conveyed through a posting on the Website or such different methods as we may esteem suitable every once in a while (counting electronic mail or regular mail). The updated/upgraded expenses will be paid inside 21 days of the date of the above correspondence bombing which the program will stand ended without earlier suggestion.</li>

                <li class="mb-2">For any prize plans declared validity dates of the program will be carefully authorized. Last tact of settling on any sort of remuneration reported in any offer will be with M/s Eating Smart with Sidra Patel.</li>

                <li class="mb-2">To give us valid, precise and complete data as needed during the sign up measure ("Subscription Data") for motivations behind your utilization of the Subscribed Services (information as referenced previously). You will precisely keep up and update the Subscription Data. Not withstanding some other arrangement of this Agreement, on the off chance that you give any data that is false, incorrect, or deficient, or we have sensible grounds to presume that such is the situation, we maintain all authority to suspend or end your client record or membership and decline any or all current or future use by you of our Website www.eatingsmart.in or any of Subscribed Services. You are committed to check the "Personal Account" highlight to decide if your Subscription Data is precise, and, if not, to address or refresh your Subscription Data including your charging data. You make a deal to avoid enlisting or buy in for more than one record, make a record in the interest of another person, or make a bogus or deceiving personality on the Website www.eatingsmart.in.</li>

                <li class="mb-2">To be completely liable for keeping up the privacy of your password and personal account data. You should tell M/s Eating Smart with Sidra Patel promptly in case of any known or associated unapproved use with your personal account, or any known or associated break with security, including misfortune, burglary, or unapproved divulgence of secret word. In case of a break of security, you will stay at risk for any unapproved utilization of your membership until you update your Subscription Data. You will be totally answerable for all exercises which happen under your personal account. You will stay answerable for paying any sums charged to your Mastercard by an outsider which were not approved by you.</li>

                <li class="mb-2">Not to post any material ensured by copyright, brand name, or other restrictive right (which you as a client are not the proprietor of) without the express consent of the proprietor of the copyright, brand name or other exclusive right. You concur that the posting of any material by you will infer that the copyright, brand name or other restrictive right in that material rests with you. You concur and recognize that you will be exclusively at risk for any activity/s or harms coming about because of any encroachment of copyrights, brand names, or restrictive rights, or some other mischief coming about because of any posting made by you.</li>

            </ol>

            <p class="semi mt-5 mb-2">PROFILING</h3>

            <p>M/s Eating Smart with Sidra Patel's services are information based and we utilize the prescribed procedures in the business to ensure our customers profit by our administrations. We recruit/work with highly qualified nutritionists to increase the value of our working. Profiling implies that we will examine the manner in which you utilize our services based on the information you measure. We further take a look at client propensities, benefits that keep the clients connected with and look for ways or strategies to make our administrations more successful, easy to use and fluctuate the highlights according to singular utilization designs. Our preparing of your own information for profiling doesn't need any assent as a lawful ground. On the off chance that under any arrangements applicable individual information assent is needed for the utilization of information handled as referenced above then by tolerating the terms you have therefore given your agree to M/s Eating Smart with Sidra Patel to utilize the individual information prepared by you to profile, improving administrations and for giving you client assistance.</p>

            <p class="semi mt-5 mb-2">RECTIFICATION OR DELETION</p>

            <p>You as a client have unlimited oversight over your information and what you measure and subsequently you reserve the privilege to get to and to amend or cancellation of your own information by M/s Eating Smart with Sidra Patel. On the off chance that you ask for correction that worries information that is mandatorily needed by M/s Eating Smart with Sidra Patel for offering you benefits then such a solicitation will have an impact of record end by M/s Eating Smart with Sidra Patel. Every one of your solicitations for rectification or deletion of individual information will be made on info@eatingsmart.in notwithstanding a composed application made by you which must be agreed upon.</p>

            <p>You can at any point of time choose to cancel your subscription or to de-activate your account. You can cancel your subscription from the website www.eatingsmart.in. Although no refund will be granted under any circumstances.</p>

            <p class="semi mt-5 mb-2">PUBLISHED CONTENT</p>

            <p>M/s Eating Smart with Sidra Patel shall publish testimonials as long as you agree to it. You may write to us incase you want any content to be removed at any point in time.</p>

            <p class="semi mt-5 mb-2">GRIEVANCE OFFICER</p>

            <p>If you have any complaints or grievances regarding processing of your personal data on the website www.eatingsmart.in or any of our services then you may contact our grievance officer on Contact Number: +91 8452 811506 email: info@eatingsmart.in</p>

            <p>We may share your information with government agencies or other companies assisting us in fraud prevention or investigation. We may do so when: (1) permitted or required by law; or, (2) trying to protect against or prevent actual or potential fraud or unauthorized transactions; or, (3) investigating fraud which has already taken place.</p>

            <p class="semi mt-5 mb-2">COMMITTED TO DATA SECURITY</p>

            <p>Your personal data is kept secure. Just approved workers (who have consented to keep data secure and classified) approach this data. The security of your own data is critical to us at M/s Eating Smart with Sidra Patel. We utilize acknowledged industry guidelines and innovations like firewalls, security programming and so forth to ensure your own information against unapproved access notwithstanding following the pertinent individual information guidelines. You are anyway mindful that no security framework is 100% secure and in spite of our earnest attempts there is consistently a danger of unapproved admittance to your information. We at M/s Eating Smart with Sidra Patel hence demand you to utilize a solid secret phrase for your personal account with M/s Eating Smart with Sidra Patel and to keep the login record and secret word securely. Our undertaking will consistently be to defend your security data and individual subtleties in each conceivable way.</p>

            <p class="semi mt-5 mb-2">CHANGES TO THE POLICIES</p>

            <p>M/s Eating Smart with Sidra Patel may have to make changes or update the Privacy Policies from time to time in accordance with the change in laws and change in circumstances. Please check this page from time to time to be updated regarding the same. You are bound by all the policy changes if you continue using our website www.eatingsmart.in. </p>

            <p class="semi mt-5 mb-2">HEALTH DISCLAIMER</p>

            <p>You will be liable for your own wellbeing. M/s Eating Smart with Sidra Patel is an association that solitary gives you diet intends to remain fit and to carry on with a solid way of life. Data made accessible by the membership of our administrations through the site www.eatingsmart.in is just for useful purposes. You should consistently consult your doctor prior to beginning any eating regimen/nourishment plan or on the off chance that you feel any torment or distress. M/s Eating Smart with Sidra Patel will not be considered answerable for any close to home injury or some other harms caused to you by misuse or abuse of our services.</p>

            <p class="semi mt-5 mb-2">INTELLECTUAL PROPERTY</p>

            <p>All rights in and to the Services, including any trademarks, trade names, logos, illustrations, service marks, copyrighted content (collectively referred to as “Intellectual Property” presented within the services i.e. on the website www.eatingsmart.in and any other platform shall always be the property of M/s Eating Smart with Sidra Patel. You undertake to not use the Intellectual Property for any other purposes except till the extent of services provided to you.</p>

            <p class="semi mt-5 mb-2">ENTIRE AGREEMENT</p>

            <p>This Agreement comprises the whole arrangement between you and M/s Eating Smart with Sidra Patel identifying with the site www.eatingsmart.in and supplants all earlier or contemporaneous oral or composed correspondences including yet not restricted to any terms and states of procurement, proposition and portrayals as for some other topic covered by this Agreement. The headings in this Agreement are for accommodation just and don't influence the understanding of this Agreement.</p>

            <p class="semi mt-5 mb-2">SEVERABILITY CLAUSE</p>

            <p>If any provisions of this Agreement is/are held to be void, invalid, unenforceable or illegal by a court of competent jurisdiction then other such provisions shall be set aside and the remaining provisions shall continue in full force and effect.</p>

            <p class="semi mt-5 mb-2">RELATION BETWEEN WEBSITE AND LEGAL NAME</p>

            <p>The website www.eatingsmart.in and the associated, are registered and owned by <span class="semi">M/s Eating Smart with Sidra Patel</span></p>

            <p class="semi mt-5 mb-2">CONTACT US</p>

            <p>M/s Eating Smart with Sidra Patel shall communicate with you vide email and notices. We welcome your feedback regarding our services. If you have any questions or suggestions regarding our privacy policies, then you can contact us on info@eatingsmart.in</p>

            <p class="semi mt-5 mb-2">DISCLAIMER</p>

            <p>The data shared on this site is general data given by M/s Eating Smart with Sidra Patel and keeping in mind that we attempt to stay up with the latest and right, we make no portrayals or guarantees of any sort, express or suggested, about the culmination, precision, dependability, reasonableness or accessibility regarding the site or the data, items, benefits, or related designs contained on the site for any reason.</p>

            <p>In no occasion will M/s Eating Smart with Sidra Patel be subject for any misfortune or harm including without impediment, immediate, circuitous or at all emerging from loss of information regarding the utilization of this site. </p>

            <p>You know that you might be re-coordinated to outsider sites for at all reasons. You thusly repay M/s Eating Smart with Sidra Patel from misfortune or harm of at all nature caused to you or some other individual from the utilization of such outsider sites which could possibly be constrained by M/s Eating Smart with Sidra Patel. The incorporation of any connections doesn't really suggest a proposal or embrace the perspectives communicated inside them. Each exertion is made to keep the site fully operational easily. In any case, M/s Eating Smart with Sidra Patel assumes no liability for, and won't be at risk for the site being incidentally inaccessible because of specialized issues outside the ability to control of M/s Eating Smart with Sidra Patel.</p>

            <p></p>

        </div>

    </div>

</div>

<br />
<br />

