﻿
@{
    ViewBag.Title = "RefundPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid pl-0 pr-0 mb-5">

    <div class="row no-gutters banner privacyPolicyBanner justify-content-center align-items-center">

        <div class="col-12 dib text-center">

            <div class="d-none d-md-block">

                <h2 class="bold mb-0">Refund &amp; Cancellations</h2>

            </div>

            <div class="d-block d-md-none banner-xs">

                <img src="@CommonMethods.ServerPath/img/banner/privacyPolicy-xs.jpg" alt="" class="img-fluid" />

            </div>

        </div>

    </div>

</div>


<div class="container">

    <div class="row justify-content-center">

        <div class="col-12 col-md-11 col-lg-10 text-center">
            <div class="jumbotron">

                <p>Thanks for subscribing to our services at www.eatingsmart.in operated by  M/s Eating Smart with Sidra Patel. We donot offer a refund or cancellation under any circumstances. You can access your subscription until the end of the period you have paid for. Once your subscription begins the validity of the program starts. You could pay in prior and activate the program within 6 months from the date of purchase.</p>

            </div>
            <p></p>

        </div>

    </div>

</div>

<br />
<br />

