
@{
    ViewBag.Title = "tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-sky">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 text-center pt-3 pb-2">
            <h2 class="semi text-white text-shadow" id="HeaderValue"></h2>
        </div>
    </div>
</div>

<div class="bg-yellow">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <ul class="list-inline menu-sec">
                    <li class="list-inline-item"><a href="~/Home/assessment">My Assessment Tool</a></li>
                    <li class="list-inline-item"><a href="~/Home/tracker">My Trackers</a></li>
                    <li class="list-inline-item"><a href="">My Eating Smart Tool</a></li>
                    <li class="list-inline-item"><a href="~/Home/MyEatingPattern">My Eating Pattern</a></li>
                    <li class="list-inline-item"> <a href="#" onclick="MessageHelp(this)">Admin Messages<span class="float-right d-none d-md-block" id="spMessage"></span></a></li>

                    <li class="list-inline-item"><a href="~/Home/ViewPlan">View Plans</a></li>
                    <li class="list-inline-item active"><a onclick="Logout(this)">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid flowerBg">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">WEIGHT TRACKER : - <label class="col-12 col-sm-5 col-form-label semi" id="lbllable"></label></p>                    
                       
                    </div>
                 
               
                  
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form-group row">
                            <label class="semi mb-2 text-yellow">WEIGHT <span class="float-right d-none d-md-block"> : </span></label>
                            <div class="col-12 col-sm-7">
                                <select class="custom-select" id="ddlWeight">
                                    <option selected>Select</option>
                                    <option value="KG">KG</option>
                                    <option value="LB">LB</option>
                                </select>
                            </div>
                        </div>
                    </div>

                   

                    <hr class="mt-0 mb-2 bg-dark" />
                </div>

                  
                <div class="bg-yellow container-minus mb-4 pt-2 pb-2">
                    <div class="row pt-2">
                        <div class="col-12 col-md-12 col-lg-6">
                            <p class="semi mb-2 text-white">Date</p>
                        </div>
                        <div class="col-12 col-md-12 col-lg-3">
                            <p class="semi mb-2 text-white">Weight</p>  
                        </div>
                        <div class="col-12 col-md-12 col-lg-3">
                            <p class="semi mb-2 text-white">Difference</p>                      
                        </div>
                    </div>
                </div>
                <div id="DivDynamicSession">
                   
                </div>                               
                <div class="row">
                    <div class="col-12 text-right">
                        <a class="btn btn-reg mb-2 hvr-sweep-to-top" id="btnSubmit" onclick="SaveTracker()">&nbsp; &nbsp; SUBMIT &nbsp; &nbsp; </a>
                    </div>

                    <div>                    
                        <input type = "hidden" id = "hdnProductId" />
                        <input type="hidden" id="hdnOrderId" />
                        <input type = "hidden" id = "hdnlenght" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript">

    function Logout(ctrl) {
        sessionStorage.clear();
        ctrl.href = '@Url.Content("~/Home/Logout")';
        ctrl.click();
    }
    function MessageHelp(ctrl) {
        var selectedUserId = sessionStorage.getItem('SelectedUserId');
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        ctrl.href = '@Url.Content("~/Home/helpDesk?userId=")' + selectedUserId;
        ctrl.click();
    }

    $(document).ready(function () {
        $("#HeaderValue").text("ACCOUNT SETTINGS | " + sessionStorage.getItem('EmployeeName'));
        var selectedUserId = sessionStorage.getItem('SelectedUserId');
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        var tracker =
        {
            TableType: "GetRecord",
            UserId: sessionStorage.getItem('userId')
        }
        CommonAjaxMethod('Program/GetUserTrackerDetails', { userId:sessionStorage.getItem('userId')}, false, 'GET', function (response) {

            if (response.data.Data.length> 0)
            {


               // var dateData = new Date(parseInt(dateValue.replace("/Date(", "").replace(")/")));
                var dateData = new Date();
                var dd = dateData.getDate();
                var mm = dateData.getMonth() + 1; //January is 0!
                var yyyy = dateData.getFullYear();
                if (dd < 10) { dd = '0' + dd }
                if (mm < 10) { mm = '0' + mm }
                strDate = yyyy + '-' + mm + '-' + dd;


               // var varsession = response.data.Data[0].GivenDays / 3;
                //alert(varsession);
                var vara = 0;
                var varb = 1;
                
                $("#hdnProductId").val(response.data.Data[0].ProductId);
                $("#hdnOrderId").val(response.data.Data[0].OrderId);
                $("#hdnlenght").val(response.data.Data[0].GivenDays);
                $("#ddlWeight").val(response.data.Data[0].WeightIn);

                orderID = response.data.Data[0].OrderId;
                $("#lbllable").text(response.data.Data[0].Program + " :: " + response.data.Data[0].ProductName);
                $('#DivDynamicSession').html("");
                var divHTML = "";
                varlenght = response.data.Data[0].GivenDays;
                for (var i = 0; i <response.data.Data[0].GivenDays; i++)
                {
                        divHTML += '<div class="row form-data pt-2">' +
                        '<div class="col-12 col-md-12 col-lg">' +
                        '<div class="row align-items-center h-100">' +
                        '<div class=" col-12 col-md-7">' +
                        '<div class="form-group">' +
                            '<input type="date" class="form-control"  placeholder="Enter Date" id="txtDate1' + (i + 1) +'" />' +
                        '</div>' +
                        '<div class=" form-group">' +
                            '<input type="date" class="form-control" placeholder = "Enter Date"  id ="txtDate2' + (i + 1) +'" />' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<input type="date" class="form-control" placeholder="Enter Date"  id="txtDate3' + (i + 1) +'"/>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-12 col-md-5 h-100">' +
                        '<div class="form-group h-100">' +
                            '<div class="bg-sky text-white sessionButton h-100">Session ' + (i+1)+'</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-12 col-md-12 col-lg-1 text-center">' +
                        '<div class="form - group">' +
                        '<p class=" mb-0 semi" style="line-height:39px; font-size:14px;"> Start</p>' +
                        '</div>' +
                        '<div class=" form-group">' +
                        '<p class=" mb-0 semi" style="line-height:39px; font-size:14px;"> Mid</p>' +
                        '</div>' +
                        '<div class=" form-group">' +
                        '<p class=" mb-0 semi" style="line-height:39px; font-size:14px;"> End</p>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-12 col-md-12 col-lg">' +
                        '<div class="row align-items-center">' +
                        '<div class="col-6 col-md-6">' +
                        '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder = "Enter Weight" id = "txtWeight1' + (i + 1) +'" />' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder = "Enter Weight" id = "txtWeight2' + (i + 1) +'" />' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder = "Enter Weight" id = "txtWeight3' + (i + 1) +'"/>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-6 col-md-6">' +
                        '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder="Enter Weight Difference" id="txtDifference1' + (i + 1) +'" />' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder="Enter Weight Difference" id="txtDifference2' + (i + 1) +'"/>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder="Enter Weight Difference" id="txtDifference3' + (i + 1) +'"/>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>';

                }
                $('#DivDynamicSession').html(divHTML);
                GetTrackerData();
            }

        });





    })


    function getdate(strdate) {
        var strRetrunDate;
        if (strdate != null) {
            var dateData = new Date(parseInt(strdate.replace("/Date(", "").replace(")/")));
            var dd = dateData.getDate();
            var mm = dateData.getMonth() + 1; //January is 0!
            var yyyy = dateData.getFullYear();
            if (dd < 10) { dd = '0' + dd }
            if (mm < 10) { mm = '0' + mm }
            strRetrunDate = yyyy + '-' + mm + '-' + dd;
        }
        return strRetrunDate;
    }
    function GetTrackerData()
    {
        CommonAjaxMethod('Program/GetUserTrackerDetails', { userId: sessionStorage.getItem('userId') }, false, 'GET',
          function (response) {

              if (response.data.Data.length > 0) {

                  var varlength = response.data.Data.length / 3;

                  var midCounter = 0;
                  var midcounterSet = 0;
                  var midcounterStart = 0;
                  var ModeCounter = 1;
                  for (var i = 0; i < response.data.Data.length; i++)
                  {


                      var strDate = ""; //var dateValue;
                      var strDate1 = ""; //var dateValue1;
                      var strDate2 = ""; //var dateValue2;
                      if (response.data.Data[i].TrackerDate != null)
                      {

                          strDate = getdate(response.data.Data[i].TrackerDate);
                      }

                        midCounter = (i % 3);
                        if (midCounter == 0)
                        {
                            midcounterStart++;
                        }
                        midcounterSet++;

                        $("#txtWeight"+midcounterSet + midcounterStart).val(response.data.Data[i].Weight);
                        $("#txtDifference" + midcounterSet + midcounterStart).val(response.data.Data[i].WeightDifference);
                        $("#txtDate" + midcounterSet + midcounterStart).val(strDate);
                        if(midcounterSet==3)
                        {
                            midcounterSet = 0;
                        }

                  }
              }
          }
      );
    }
    function SaveTracker() {


        var mytracker =
        {
            TableType: "Tracker",
            UserId: sessionStorage.getItem('userId'),
            ProductId: $("#hdnProductId").val() == undefined ? '' : $("#hdnProductId").val().trim(),
            OrderId: $("#hdnOrderId").val() == undefined ? 0 : $("#hdnOrderId").val().trim(),
            UserTracker: []

        }



        var varlenght = $("#hdnlenght").val();
        if ($("#hdnlenght").val() != '' || $("#hdnlenght").val()) {
            // alert($("#hdnlenght").val());
            // 
            for (var i = 0; i < parseInt($("#hdnlenght").val()); i++) {
               // alert("a");
               //   
                var list1 =
                {
                    UserId: sessionStorage.getItem('userId'),
                    ProductId: $("#hdnProductId").val() == undefined ? '' : $("#hdnProductId").val().trim(),
                    OrderId: $("#hdnOrderId").val() == undefined ? 0 : $("#hdnOrderId").val().trim(),
                    WeightIn: $("#ddlWeight").val() == undefined ? 0 : $("#ddlWeight").val().trim(),
                    Weight: $("#txtWeight1" + (i + 1)).val() == undefined ? 0 : $("#txtWeight1" + (i + 1)).val().trim(),
                    WeightDifference: $("#txtDifference1" + (i + 1)).val() == undefined ? 0 : $("#txtDifference1" + (i + 1)).val().trim(),
                    TrackerDate: $("#txtDate1" + (i + 1)).val() == undefined ? 0 : $("#txtDate1" + (i + 1)).val().trim(),
                }
                mytracker.UserTracker.push(list1);
                var list2 = {
                    UserId: sessionStorage.getItem('userId'),
                    ProductId: $("#hdnProductId").val() == undefined ? '' : $("#hdnProductId").val().trim(),
                    OrderId: $("#hdnOrderId").val() == undefined ? 0 : $("#hdnOrderId").val().trim(),
                    WeightIn: $("#ddlWeight").val() == undefined ? 0 : $("#ddlWeight").val().trim(),
                    Weight: $("#txtWeight2" + (i + 1)).val() == undefined ? 0 : $("#txtWeight2" + (i + 1)).val().trim(),
                    WeightDifference: $("#txtDifference2" + (i + 1)).val() == undefined ? 0 : $("#txtDifference2" + (i + 1)).val().trim(),
                    TrackerDate: $("#txtDate2" + (i + 1)).val() == undefined ? 0 : $("#txtDate2" + (i + 1)).val().trim(),
                }
                mytracker.UserTracker.push(list2);
                var list3 = {
                    UserId: sessionStorage.getItem('userId'),
                    ProductId: $("#hdnProductId").val() == undefined ? '' : $("#hdnProductId").val().trim(),
                    OrderId: $("#hdnOrderId").val() == undefined ? 0 : $("#hdnOrderId").val().trim(),
                    WeightIn: $("#ddlWeight").val() == undefined ? 0 : $("#ddlWeight").val().trim(),
                    Weight: $("#txtWeight3" + (i + 1)).val() == undefined ? 0 : $("#txtWeight3" + (i + 1)).val().trim(),
                    WeightDifference: $("#txtDifference3" + (i + 1)).val() == undefined ? 0 : $("#txtDifference3" + (i + 1)).val().trim(),
                    TrackerDate: $("#txtDate3" + (i + 1)).val() == undefined ? 0 : $("#txtDate3" + (i + 1)).val().trim(),
                }
                mytracker.UserTracker.push(list3);

            }


           // alert("aa");
            //debugger;
            CommonAjaxMethod('Program/SaveTracker', mytracker, false, 'POST', function (response) {
                //debugger;
                alert('Record save successfully!!!');

            });
        }
    }

</script>

