
@{
    ViewBag.Title = "UserDetails";
}
@Styles.Render("~/Content/DevExtremeBundle")
<div class="bg-yellow">
    <div class="container">
        <input type="hidden" id="hdnLoginUserId" />
        <div class="row justify-content-center">
            <div class="col">
                <ul class="list-inline menu-sec">
                    <li class="list-inline-item"><a href="~/Home/AdminView">Back To Admin View</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid flowerBg">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow">
                <div class="row">
                    <div class="demo-container">
                        <div id="gridContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function ()
    {
        var qData = "@Request.QueryString["userId"].ToString()";
      
        CommonAjaxMethod('Home/GetUserOrderDetailView', {orderid:qData}, false, 'GET', function (response) {

            Load(response.dataCollection);           
        });
    }

    function Load(ctr)
    {
       
        $("#gridContainer").dxDataGrid({
            dataSource: ctr,
            allowColumnReordering: true,
            showBorders: true,
              
            searchPanel: {
                visible: true
            },
            paging: {
                pageSize: 10
            },
            groupPanel: {
                visible: true
            },
            editing: {
                mode: "form",
                allowUpdating: false
            },
            columns: [
                "FirstName",
                "LastName",
                "Email",
                 "UserName",
                "MobileNo",
                 "program",
                 "ProductName",
              
                {
                    caption: "Coupon",
                    dataField: "Coupen"
                   
                },
                 "OrderAmountDoller",
                 "OrderAmountINR",
                  {
                      caption: "Order Date",

                      allowEditing: false,
                      calculateCellValue: function (data) {
                          return getdate(data.AddedWhen);
                      }
                  }      ,
                 {
                     caption: "Start Date",

                     allowEditing: false,
                     calculateCellValue: function (data) {
                         return getdate(data.StartActiveDate);
                     }
                 },
                  {
                      caption: "End Date",

                      allowEditing: false,
                      calculateCellValue: function (data) {
                          return getdate(data.EndActiveDate);
                      }
                  }
                                 
            ]
        });        
    }
     function getdate(strdate) {
        var strRetrunDate;
        if (strdate != null) {
            var dateData = new Date(parseInt(strdate.replace("/Date(", "").replace(")/")));
            var dd = dateData.getDate();
            var mm = dateData.getMonth() + 1; //January is 0!
            var yyyy = dateData.getFullYear();
            if (dd < 10) { dd = '0' + dd }
            if (mm < 10) { mm = '0' + mm }
            strRetrunDate = yyyy + '-' + mm + '-' + dd;
        }
        return strRetrunDate;
    }
</script>

 