
@{
    ViewBag.Title = "AdminView";
}
<div class="bg-yellow">
    <div class="container">
        <div class="row justify-content-center">
            <input type="hidden" id="hdnLoginUserId" />
            <div class="col">
                <ul class="list-inline menu-sec">
                    <li class="list-inline-item"><a href="~/Home/AdminView">Back To Admin View</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid flowerBg">

    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow">
                <div class="row">
                    <div class="demo-container">
                        <div id="gridContainer1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow">
                <div class="row">
                    <div class="demo-container">
                        <div id="gridContainer2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    window.onload = function ()
    {
          var qData = "@Request.QueryString["Enquiry_Id"].ToString()";
        CommonAjaxMethod('Program/GetUserEnquiryDetails', { userId: qData }, false, 'POST', function (response)
        {

            Load(response.data.Data.Table1);
            LoadEnquiry(response.data.Data.Table);
          
        });

        if (sessionStorage.getItem('RoleID') == "3") {
           
            var obj1 = {

                Type: "1",
                OperationType: "UPDATE",
                UserId: qData
            }
            CommonAjaxMethod('Home/AdminNotificationEnquiryMessage', obj1, false, 'POST', function (response) {

            });
        }
    };


    function Load(ctr)
    {

        $("#gridContainer2").dxDataGrid({
                 dataSource: ctr,
                allowColumnReordering: true,
                showBorders: true,

                searchPanel: {
                    visible: true
                },
                paging: {
                    pageSize: 100
                },
                groupPanel: {
                    visible: true
                },
                editing: {
                    mode: "form",
                    allowUpdating: false
                },
                columns: [
                    "ExactText",
                    "OptionValue"                 
                  
                ]
             });
    }


    function LoadEnquiry(ctr) {

        $("#gridContainer1").dxDataGrid({
            dataSource: ctr,
            allowColumnReordering: true,
            showBorders: true,

            searchPanel: {
                visible: true
            },
            paging: {
                pageSize: 10
            },
            groupPanel: {
                visible: true
            },
            editing: {
                mode: "form",
                allowUpdating: false
            },
            columns: [
                "FirstName",
                "Email_ID",
                "AgeGroup",
                "ContactNumber",
                "BMI",
                "WaterIntake",
                "IdealBodyWeight"
              

            ]
        });
    }
</script>

