
@{
    ViewBag.Title = "Plan";
}

<div class="container-fluid flowerBg">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow">
                <div class="row">
                    <div class="demo-container">
                        <div id="gridContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function getdate(strdate) {
        var strRetrunDate;
        if (strdate != null) {
            var dateData = new Date(parseInt(strdate.replace("/Date(", "").replace(")/")));
            var dd = dateData.getDate();
            var mm = dateData.getMonth() + 1; //January is 0!
            var yyyy = dateData.getFullYear();
            if (dd < 10) { dd = '0' + dd }
            if (mm < 10) { mm = '0' + mm }
            strRetrunDate = yyyy + '-' + mm + '-' + dd;
        }
        return strRetrunDate;
    }

    window.onload = function ()
    {
        var selectedUserId = sessionStorage.getItem('SelectedUserId');
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        CommonAjaxMethod('Home/GetUserPlanDetails', { userId: sessionStorage.getItem('userId') }, false, 'GET', function (response) {
            Load(response.dataCollection);
            //$("#gridContainer").dxDataGrid(
            //    {
            //        dataSource: response.dataCollection,
            //        columns: ["FirstName", "LastName", "Email", "UserName", "MobileNo"],
            //    showBorders: true
            //});
        });
    }

    function Load(ctr)
    {

             $("#gridContainer").dxDataGrid({
                 dataSource: ctr,
                allowColumnReordering: true,
                showBorders: true,

                searchPanel: {
                    visible: true
                },
                paging: {
                    pageSize: 10
                },
                groupPanel: {
                    visible: true
                },
                editing: {
                    mode: "form",
                    allowUpdating: false
                },
                columnMinWidth: 100,
                columns: [
                    "Program",
                    "ProductName",
                    {
                        caption: "StartActiveDate",
                             
                        allowEditing: false,
                        calculateCellValue: function(data) {
                            return getdate(data.StartActiveDate);
                        }
                    },
                     {
                         caption: "EndActiveDate",
                             
                         allowEditing: false,
                         calculateCellValue: function(data) {
                             return getdate(data.EndActiveDate);
                         }
                     }
                 ,
                    
                    "Totaldays",

                     "INRRate",
                    "DollerRate",
                     "ActivePlan",
                "IsPaymentDone",
                "PaymentType",

                    {
                        caption: "Edit",
                        alignment: 'center',
                        cellTemplate: function (container, options) {
                            $('<a />').addClass('dx-link')
                                .text('Edit Plan')
                                .on('dxclick', function ()
                                {
                                   
                                   var roleId= sessionStorage.getItem('RoleID');
                                    sessionStorage.setItem('SelectedUserId', "");
                                    if (roleId == "3" || roleId == "2")
                                    {
                                        window.location.href = "EditPlan?orderId=" + options.data.OrderDetail_Id;
                                    }
                                    else
                                    {
                                       alert("You dont have sufficient perpmission on it.")
                                    }

                                   
                                }).appendTo(container);
                        }
                    }

                ]
             });
    }
</script>

