
@{
    ViewBag.Title = "UploadMaster";
}

<h2>UploadMaster</h2>
<input type="file" id="fileupload" />
<input type="button" value="Upload" onclick="Uploadocument()" />
<script type="text/javascript">

    function Uploadocument() {

        var fileUpload = $("#fileupload").get(0);

        var files = fileUpload.files;
        if (files.length > 0) {

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            //We will change the below logic later error handling
            $.ajax({
                url: '/UploadDocument/UploadFile?docTypeID=graph',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,//{ 'fileData': fileData, 'id': submissionid},
                //beforeSend: function (request)
                //{
                //    request.setRequestHeader('ASGMapping_Id', sessionStorage.getItem('ASGMapping_Id'));
                //    request.setRequestHeader('SgMapping_id', sessionStorage.getItem('SgMapping_id'));
                //},
                success: function (result)
                {
                   
                    if (result == "")
                    {
                       
                    }
                    else
                    {
                        alert(result);
                    }

                }


            });

        }
    }

</script>

